<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">EDD</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/edd/"><span>EDD</span></a></li>
            <li class="active"><span>Edit</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="row">
    <div class="col-sm-12">
        <% if(messages.error || messages.info) { %>
            <div class="alert alert-<%- (messages.error) ? "danger" : "success" %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="zmdi zmdi-block pr-15 pull-left"></i>
                <p class="pull-left"><%- (messages.error) ? messages.error : messages.info %></p>
                <div class="clearfix"></div>
            </div>
        <% } %>
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Edit</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form id="myform" action="admin/edd/edit/<%= id %>" method="post" enctype="multipart/form-data">

                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Branch Name</label>
                                <input type="text" readonly value="<%=edd.branch_name%>" name="branch_name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">EDD Date</label>
                                <input type="hidden" class="form-control" required="required"
                                       value="<%= edd.form_date %>"
                                       name="form_date_old">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" name="form_date" />
                                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Voucher no</label>
                                <input type="text" class="form-control" required="required" value="<%= edd.voucher_no %>" name="voucher_no"
                                       placeholder="Enter voucher_no">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Customer name</label>
                                <input type="text" class="form-control" required="required" value="<%= customer.customer_name %>"
                                       name="customer_name" placeholder="Enter customer_name">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Father's/Husband name</label>
                                <input type="text" class="form-control" required="required" value="<%= customer.father_name %>"
                                       name="father_name" placeholder="Enter father_name">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Occupation</label>
                                <select name="type_of_service" required="required" id="service_id" class="form-control" >
                                    <% customer_service_types.forEach(function(services){ %>
                                    <option  class="service_class"  name="<%=services.name%>" value="<%= services._id %>" <%= customer.ocupation.type_of_service == services._id ? 'selected' : ' ' %>><%= services.name %></option>

                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Others(specify)"  value="<%= customer.ocupation.Other %>"  name="service_other_specify" id="service_other_specify"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Nature of profession</label>
                                <input type="text" class="form-control" required="required"
                                       value="<%= customer.ocupation.nature_of_profession %>"
                                       name="nature_of_profession" placeholder="Enter nature_of_profession">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Customer/Representative Designation</label>
                                <input type="text" class="form-control"  value="<%= customer.organization_Designation %>"  name="organization_Designation" required="required" placeholder="Enter organization Designation">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Customer/Representative Organization/Institution Name</label>
                                <input type="text" class="form-control"
                                       value="<%= customer.organization_institution_name %>" name="organization_institution_name" required="required"
                                       placeholder="Enter organization institution name">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Customer/Representative Organization/Institution Address</label>
                                <input type="text" class="form-control"  value="<%= customer.organization_address %>" name="organization_address" required="required" placeholder="Enter organization Address">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">CNIC</label>
                                <input type="text" class="form-control" required="required" value="<%= customer.national_identity %>"
                                       name="national_identity" placeholder="Enter national_identity">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Contact</label>
                                <input type="number" class="form-control" required="required" value="<%= customer.telephone %>"
                                       name="telephone" placeholder="Enter telephone">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">NTN</label>
                                <input type="number" class="form-control" value="<%= customer.ntn %>" name="ntn"
                                       placeholder="Enter ntn">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Nature of transaction</label>

                                <label class="checkbox-inline"><input type="radio" <%=edd.nature_of_transaction.indexOf("BUY") > -1 ? "checked" : "" %>
                                                                      name="nature_of_transaction"
                                                                      value="BUY">BUY</label>


                                <label class="checkbox-inline"><input type="radio" <%=edd.nature_of_transaction.indexOf("SELL") > -1 ? "checked" : "" %>
                                                                      name="nature_of_transaction"
                                                                      value="SELL">SELL</label>


                                <label class="checkbox-inline"><input type="radio" <%=edd.nature_of_transaction.indexOf("TT") > -1 ? "checked" : "" %>
                                                                      name="nature_of_transaction" id="nature_tt" class="nature_tt" value="TT">TT</label>


                                <label class="checkbox-inline"><input type="radio" <%=edd.nature_of_transaction.indexOf("DD") > -1 ? "checked" : "" %>
                                                                      name="nature_of_transaction" id="nature_dd" class="nature_dd"  value="DD">DD</label>

                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Beneficiary details</label>
                                <input type="text" class="form-control" id="beneficiary_name" value="<%= customer.beneficiary_detail.name %>"
                                       name="beneficiary_name" placeholder="Enter name">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Relationship with Beneficiary</label>
                                <input type="text" class="form-control"
                                       value="<%= customer.beneficiary_detail.relationship %>"
                                       name="relationship_with_beneficiary" id="beneficiary_Relationship" name="relationship_with_beneficiary" placeholder="Enter name">
                            </div>
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse1">In Case of Beneficial Owner Transaction <i class="fa fa-plus-square"></i></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Actual Beneficial Owner Name</label>
                                                        <input type="text" class="form-control"  value="<%= customer.authorized_person.name %>" name="beneficial_owner_name" placeholder="Enter name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Relationship with Actual Benefical Owner</label>
                                                        <input type="text" class="form-control"  value="<%= customer.authorized_person.relation %>" name="beneficial_owner_relation" placeholder="Enter relation">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Beneficial Owner CNIC</label>
                                                        <input type="text" class="form-control"  value="<%= customer.authorized_person.national_id %>" name="beneficial_owner_cnic" placeholder="Enter national_id">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Actual Beneficial Owner Occupation</label>
                                                        <input type="text" class="form-control" value="<%= customer.authorized_person.beneficial_owner_occupation %>" name="beneficial_owner_occcupation" placeholder="Enter national_id">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Actual Beneficial Owner Organization</label>
                                                        <input type="text" class="form-control" value="<%= customer.authorized_person.beneficial_owner_Organization %>" name="beneficial_owner_Organization"  placeholder="Enter Actual Beneficial Owner Organization">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Actual Beneficial Owner Organization Address</label>
                                                        <input type="text" class="form-control" value="<%= customer.authorized_person.beneficial_owner_Organization_address %>" name="beneficial_owner_Organization_address"  placeholder="Enter Actual Beneficial Owner Organization Address">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Actual Beneficial Owner Designation</label>
                                                        <input type="text"   class="form-control" value="<%= customer.authorized_person.beneficial_owner_designation %>" name="beneficial_owner_designation" placeholder="Enter Beneficial owner Designation">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Beneficial Owner Contact Number</label>
                                                        <input type="text" class="form-control"   value="<%= customer.authorized_person.beneficial_cell_number %>" name="beneficial_owner_cell_number" placeholder="Enter national_id">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Actual Beneficial Owner Call Confirmation</label>
                                                        <input type="radio"  value="1" <%=customer.authorized_person.beneficial_owner_cell_confirmation == 1 ? 'checked' : ' '%> name="beneficial_owner_cell_confirmation" >Yes
                                                        <input type="radio"  value="0"  <%=customer.authorized_person.beneficial_owner_cell_confirmation == 0 ? 'checked' : ' '%> name="beneficial_owner_cell_confirmation" >No
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Actual Beneficial Owner NTN (If any)</label>
                                                        <input type="text"  class="form-control" value="<%= customer.authorized_person.beneficial_owner_ntn %>" name="beneficial_owner_ntn" placeholder="Enter national_id">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Authority letter obtained ?</label>
                                                        <label class="checkbox-inline"><input type="radio" <%=customer.authorized_person.is_authorized == "authority letter obtained" ? 'checked' : ' '%> name="is_authorized" value="authority letter obtained">Yes
                                                            <input type="radio"  <%=customer.authorized_person.is_authorized == "No" ? 'checked' : ' '%> name="is_authorized" value="No">No</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Relation with receiver </label>
                                                        <input type="text" class="form-control"
                                                               value="<%= customer.relation_with_receiver.relation %>" name="relation"
                                                               placeholder="Enter relation">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Receiver occupation</label>
                                                        <input type="text" class="form-control"
                                                               value="<%= customer.relation_with_receiver.occupation %>" name="occupation"
                                                               placeholder="Enter occupation">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Amount in figure</label>
                                <input type="text" class="form-control" required="required" value="<%= edd.amount_in_figure %>"
                                       name="amount_in_figure" placeholder="Enter amount in figure">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Amount in words</label>
                                <input type="text" class="form-control" required="required" value="<%= edd.amount_in_words %>"
                                       name="amount_in_words" placeholder="Enter amount_in_words">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Customer Type</label>
                                <select id="cust_type" required="required" name="customer_type" class="form-control">
                                    <% customer_type.forEach(function(customers){ %>
                                    <option class="customer_class" name="<%=customers.name%>" value="<%= customers._id %>" <%= customer.customer_type == customers._id ? 'selected' : ' ' %>><%= customers.name %></option>

                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text"  class="form-control" placeholder="Non-Resident(Location)" value="<%= customer.customer_type_non_resident_location%>" name="customer_type_location" id="customer_type_location"/>
                                <input type="text" class="form-control" placeholder="Foreigner(Nationality)" value="<%= customer.customer_type_foreginer_nationality%>"  name="customer_type_nationality" id="customer_type_nationality"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Reason of EDD</label>
                                <select id="reason_edd" required="required" name="reason_of_edd" class="selectpicker" data-style="btn-default" data-width="100%" multiple>
                                    <% reason_edd.forEach(function(reasons){ %>
                                    <option class="reason_edd_class" name="<%=reasons.name%>" value="<%=reasons._id%>"><%=reasons.name%></option>

                                    <% })%>
                                </select>
                            </div>
                            <div class="form-group" id="pep">
                                <label class="control-label mb-10 text-left">PEP type</label>
                                <select name="pep_type"  class="form-control">
                                    <% customer_pep_types.forEach(function(pep_type){ %>
                                    <option class="pep_class" name="<%=pep_type.name%>" value="<%= pep_type._id %>" <%= customer.ocupation.pep_type == pep_type._id ? 'selected' : ' ' %>><%= pep_type.name %></option>

                                    <% }) %>

                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" value="<%= customer.ocupation.pep_associates %>" placeholder="Associates/Family member (PEP)" name="pep_associates" id="pep_associates"/>
                                <input type="text" class="form-control" value="<%= customer.source_of_fund.pep_other %>" placeholder="Any Others(specify)" name="pep_other" id="pep_other"/>
                            </div>




                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Source of fund</label>
                                <select name="source_of_fund_source" required="required" id="source_id" class="form-control">
                                    <% customer_source_of_funds.forEach(function(source_fund){ %>
                                    <option class="source_fund_class" name="<%=source_fund.name%>" value="<%= source_fund._id %>" <%= customer.source_of_fund.source == source_fund._id ? 'selected' : ' ' %>><%= source_fund.name %></option>

                                    <% }) %>

                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="source_of_fund_others" value="<%= customer.source_of_fund.others %>" id="source_of_fund_others" placeholder="source of fundothers">

                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Previous transactions</label>
                                <% if(edd.previous_transactions.type == 1) { %>
                                    <label class="radio-inline"><input type="radio" checked id="transaction_type1"
                                                                       value="1"
                                                                       name="previous_transactions_type">In 1
                                        Month<input
                                                type="number" class="form-control" required="required"
                                                value="<%= edd.previous_transactions.value %>"
                                                name="previous_transactions_value" id="transaction_1"
                                                placeholder="Enter previous transactions"></label>
                                    <label class="radio-inline"><input type="radio" id="transaction_type2" value="2" required="required"
                                                                       name="previous_transactions_type">In 2
                                        Month<input
                                                type="number" class="form-control" name="previous_transactions_value" required="required"
                                                id="transaction_2" placeholder="Enter previous transactions"></label>
                                    <label class="radio-inline"><input type="radio" id="transaction_type3" value="3" required="required"
                                                                       name="previous_transactions_type">In 3
                                        Month<input
                                                type="number" class="form-control" name="previous_transactions_value" required="required"
                                                id="transaction_3" placeholder="Enter previous transactions"></label>

                                <% } %>
                                <% if(edd.previous_transactions.type == 2) { %>
                                    <label class="radio-inline"><input type="radio" required="required"  id="transaction_type1"
                                                                       value="1"
                                                                       name="previous_transactions_type">In 1
                                        Month<input
                                                type="number" class="form-control"
                                                required="required"
                                                name="previous_transactions_value" id="transaction_1"
                                                placeholder="Enter previous transactions"></label>
                                    <label class="radio-inline"><input type="radio" id="transaction_type2" checked value="2"
                                                                       name="previous_transactions_type">In 2
                                        Month<input
                                                type="number" class="form-control" name="previous_transactions_value"
                                                id="transaction_2" required="required" value="<%= edd.previous_transactions.value %>" placeholder="Enter previous transactions"></label>
                                    <label class="radio-inline"><input type="radio" id="transaction_type3" value="3"
                                                                       name="previous_transactions_type">In 3
                                        Month<input
                                                type="number" required="required" class="form-control" name="previous_transactions_value"
                                                id="transaction_3" placeholder="Enter previous transactions"></label>
                                <% } %>
                                <% if(edd.previous_transactions.type == 3) { %>
                                    <label class="radio-inline"><input type="radio"  id="transaction_type1"
                                                                       value="1"
                                                                       name="previous_transactions_type">In 1
                                        Month<input
                                                type="number" class="form-control"
                                                required="required"
                                                name="previous_transactions_value" id="transaction_1"
                                                placeholder="Enter previous transactions"></label>
                                    <label class="radio-inline"><input type="radio" id="transaction_type2" value="2"
                                                                       name="previous_transactions_type">In 2
                                        Month<input
                                                type="number" class="form-control" required="required" name="previous_transactions_value"
                                                id="transaction_2" placeholder="Enter previous transactions"></label>
                                    <label class="radio-inline"><input type="radio" checked id="transaction_type3" value="3"
                                                                       name="previous_transactions_type">In 3
                                        Month<input
                                                type="number" class="form-control" required="required" name="previous_transactions_value"
                                                id="transaction_3" value="<%= edd.previous_transactions.value %>" placeholder="Enter previous transactions"></label>
                                <% } %>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Additional documents Provided</label>

                                <table class="table additional_document" border="0">
                                    <tr>
                                        <td>
                                            <a href="javascript:void(0)" class="btn-sm btn-success pull-right add_document"><i
                                                        class="fa fa-plus"></i></a>
                                        </td>
                                    </tr>
                                    <% edd.additional_documents.forEach(function (value) { %>

                                        <tr>

                                            <td><select required="required" name='additional_document_name'>

                                                    <option value="Immigration(Visa/Letter)" <%= value.name == "Immigration(Visa/Letter)" ? 'selected' : ' ' %>>Immigration(Visa/Letter)</option>
                                                    <option value="Bank Deposit/Withdrawal Slip"  <%= value.name == "Bank Deposit/Withdrawal Slip" ? 'selected' : ' ' %>>Bank Deposit/Withdrawal Slip</option>
                                                    <option value="NTN"  <%= value.name == "NTN" ? 'selected' : ' ' %>>NTN</option>
                                                    <option value="Business Card"  <%= value.name == "Business Card" ? 'selected' : ' ' %>>Business Card</option>

                                                </select></td>
                                            <input type="hidden" value="<%= value.document %>" name="additional_document_old">
                                            <td><input type="file" name="additional_documents" id="file"/></td>


                                        </tr>
                                    <% }) %>

                                </table>



                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Brief Customer Profile:[Explain why he/she slouldn't be reported as Suspicious (STR)]</label>
                                <textarea required="required" class="form-control" rows="5" value="<%= edd.customer_feedback %>"

                                          name="customer_feedback"><%= edd.customer_feedback %></textarea>
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-success btn-anim pull-right"><i
                                            class="icon-rocket"></i><span class="btn-text">submit</span></button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#myform').validate({
            rules: {
                'nature_of_transaction': {
                    required: true,
                    maxlength: 4
                }
            },
            messages: {
                'nature_of_transaction': {
                    required: "You must check at least 1 box",
                    maxlength: "Check no more than {0} boxes"
                }
            },

        });
        $("#customer_type_location").css("display", "none");
        $("#customer_type_nationality").css("display", "none");
        $("#service_other_specify").css("display", "none");
        $("#pep_associates").css("display", "none");
        $("#pep_other").css("display", "none");
        $("#source_of_fund_others").css("display", "none");


        $("#pep").css("display", "none");


        $("#cust_type").change(function () {
            var a = $(".customer_class:checked").attr("name");
            if(a ==  "Non-Resident")
            {
                $("#customer_type_location").css("display", "block");
                $("#customer_type_nationality").css("display", "none");
                $("#customer_type_nationality").val("");

            }
            else if(a ==  "Foreigner")
            {
                $("#customer_type_nationality").css("display", "block");
                $("#customer_type_location").css("display", "none");
                $("#customer_type_location").val("");
            }
            else{$("#customer_type_location").css("display", "none");
                $("#customer_type_nationality").css("display", "none");
                $("#customer_type_location").val("");
                $("#customer_type_nationality").val("");
            }
        })
        $("#service_id").change(function () {
            var a = $(".service_class:checked").attr("name");
            if(a ==  "Others")
            {
                $("#service_other_specify").css("display", "block");

            }

            else{
                $("#service_other_specify").css("display", "none");
                $("#service_other_specify").val("");
            }
        })
        $("#pep").change(function () {
            var a = $(".pep_class:checked").attr("name");
            if(a ==  "Associate/ Family Members")
            {
                $("#pep_associates").css("display", "block");

                $("#pep_other").css("display", "none");
                $("#pep_other").val("");
            }
            else if(a ==  "Any Others")
            {
                $("#pep_associates").css("display", "none");
                $("#pep_other").css("display", "block");
                $("#pep_associates").val("");
            }

            else{
                $("#pep_associates").css("display", "none");
                $("#pep_other").css("display", "none");
                $("#pep_associates").val("");
                $("#pep_other").val("");
            }
        })

        $("#reason_edd").on('change', function() {
            var a = $(".reason_edd_class:checked").attr("name");
            var reason_id = $("#reason_edd").val();
            if(reason_id){
                if(reason_id.includes("5c2a11e9e2e9474c4dfdd83e")){
                    $("#pep").css("display", "block");
                } else{
                    $("#pep").css("display", "none");
                }
            }

        })
        $("#source_id").change(function () {
            var a = $(".source_fund_class:checked").attr("name");


            if(a ==  "Any Others")
            {
                $("#source_of_fund_others").css("display", "block");


            }
            else
            {
                $("#source_of_fund_others").css("display", "none");
                $("#source_of_fund_others").val("");

            }
        })

        var a = $(".customer_class:checked").attr("name");
        if(a ==  "Non-Resident")
        {
            $("#customer_type_location").css("display", "block");
        }
        else if(a ==  "Foreigner")
        {
            $("#customer_type_nationality").css("display", "block");

        }
        var a = $(".service_class:checked").attr("name");
        if(a ==  "Any Others")
        {
            $("#service_other_specify").css("display", "block");

        }
        var a = $(".pep_class:checked").attr("name");
        if(a ==  "Associate/ Family Members")
        {
            $("#pep_associates").css("display", "block");

        }
        if(a ==  "Any Other")
        {

            $("#pep_other").css("display", "block");

        }
        var a = $(".reason_edd_class:checked").attr("name");

        if(a ==  "PEP")
        {
            $("#pep").css("display", "block");
        }
        var a = $(".source_fund_class:checked").attr("name");


        if(a ==  "Any Others")
        {
            $("#source_of_fund_others").css("display", "block");


        }
        if($("#transaction_type1").is(':checked'))
        {
            $("#transaction_2").attr('disabled', 'disabled');
            $("#transaction_3").attr('disabled', 'disabled');
            $("#transaction_1").attr('disabled', false);
            $("#transaction_2").val("");
            $("#transaction_3").val("");
        }
        else if($("#transaction_type2").is(':checked'))
        {
            $("#transaction_1").attr('disabled', 'disabled');
            $("#transaction_3").attr('disabled', 'disabled');
            $("#transaction_2").attr('disabled', false);
            $("#transaction_1").val("");
            $("#transaction_3").val("");
        }
        else if($("#transaction_type3").is(':checked'))
        {
            $("#transaction_1").attr('disabled', 'disabled');
            $("#transaction_2").attr('disabled', 'disabled');
            $("#transaction_3").attr('disabled', false);
            $("#transaction_3").attr('checked',true);
            $("#transaction_1").val("");
            $("#transaction_2").val("");
        }

        $("#transaction_type1").click(function(){
            if($("#transaction_type1").is(':checked'))
            {
                $("#transaction_2").attr('disabled', 'disabled');
                $("#transaction_3").attr('disabled', 'disabled');
                $("#transaction_1").attr('disabled', false);
                $("#transaction_2").val("");
                $("#transaction_3").val("");
            }
        })
        $("#transaction_type2").click(function(){
            if($("#transaction_type2").is(':checked'))
            {
                $("#transaction_1").attr('disabled', 'disabled');
                $("#transaction_3").attr('disabled', 'disabled');
                $("#transaction_2").attr('disabled', false);
                $("#transaction_1").val("");
                $("#transaction_3").val("");
            }
        })
        $("#transaction_type3").click(function(){
            if($("#transaction_type3").is(':checked'))
            {
                $("#transaction_1").attr('disabled', 'disabled');
                $("#transaction_2").attr('disabled', 'disabled');
                $("#transaction_3").attr('disabled', false);
                $("#transaction_1").val("");
                $("#transaction_2").val("");
            }

        })

        $(".add_document").click(function () {
            $(".additional_document tr:last").after("<tr>" +
                " <td><select name='additional_document_name'>\n" +
                "  <option value='Immigration(Visa/Letter)'>Immigration(Visa/Letter)</option>\n" +
                "  <option value='Bank Deposit/Withdrawal Slip'>Bank Deposit/Withdrawal Slip</option>\n" +
                "   <option value='NTN'>NTN</option>\n" +
                "<option value='Business Card'>Business Card</option>\n" +
                "\n" +
                " </select></td>" +
                "<td><input type=\"file\" name=\"additional_documents\" class=\"file\"/></td>" +
                "<td><a href=\"#\" class=\"remove_this btn btn-danger\">remove</a><td></td>" +

                "</tr>");
        });

        jQuery(document).on('click', '.remove_this', function() {
            jQuery(this).parent().parent().remove();
            return false;
        });

    })

</script>