<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">EDD</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/edd/"><span>EDD</span></a></li>
            <li class="active"><span>Add</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="row">
    <div class="col-sm-12">
        <% if(messages.error || messages.info) { %>
        <div class="alert alert-<%- (messages.error) ? "danger" : "success" %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="zmdi zmdi-block pr-15 pull-left"></i><p class="pull-left"><%- (messages.error) ? messages.error : messages.info %></p>
            <div class="clearfix"></div>
        </div>
        <% } %>
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Add EDD</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form action="admin/edd/add" method="post" >

                            <div class="form-group">
                                    <label class="control-label mb-10 text-left">Form date</label>
                                    <input type="date" class="form-control " name="form_date">
                                </div>
                              <div class="form-group">
                                    <label class="control-label mb-10 text-left">Voucher no</label>
                                    <input type="text" class="form-control" name="voucher_no" placeholder="Enter voucher_no">
                                </div>
                            <div class="form-group">
                                    <label class="control-label mb-10 text-left">Customer name</label>
                                    <input type="text" class="form-control" name="customer_name" placeholder="Enter customer_name">
                                </div>
                                <div class="form-group">
                                        <label class="control-label mb-10 text-left">Father name</label>
                                        <input type="text" class="form-control" name="father_name" placeholder="Enter father_name">
                                    </div>
                                <div class="form-group">
                                        <label class="control-label mb-10 text-left">National identity</label>
                                       <input type="number" class="form-control" name="national_identity" placeholder="Enter national_identity">
                                     </div>
                                     <div class="form-group">
                                            <label class="control-label mb-10 text-left">telephone</label>
                                           <input type="number" class="form-control" name="telephone" placeholder="Enter telephone">
                                         </div>     
                                         <div class="form-group">
                                                <label class="control-label mb-10 text-left">Ntn</label>
                                               <input type="number" class="form-control" name="ntn" placeholder="Enter ntn">
                                             </div>
                                   <div class="form-group">
                                       <label class="control-label mb-10 text-left">Nature of transaction</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="nature_of_transaction" value="BUY">BUY</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="nature_of_transaction" value="SELL">SELL</label>
                                         <label class="checkbox-inline"><input type="checkbox" name="nature_of_transaction" value="TT">TT</label>
                                          <label class="checkbox-inline"><input type="checkbox" name="nature_of_transaction" value="DD">DD</label>
                                       </div>   
                                 <div class="form-group">
                                       <label class="control-label mb-10 text-left">Beneficiary</label>
                                       <input type="text" class="form-control" name="Beneficiary_name" placeholder="Enter name">
                                      </div>
                                     <div class="form-group">
                                                <label class="control-label mb-10 text-left">Relationship with Beneficiary</label>
                                                <input type="text" class="form-control" name="relationship_with_beneficiary" placeholder="Enter name">
                                           </div>
                                           <div class="form-group">
                                                <label class="control-label mb-10 text-left">Amount in figure</label>
                                              <input type="text" class="form-control" name="amount_in_figure" placeholder="Enter amount in figure">
                                            </div>  
                                            <div class="form-group">
                                                    <label class="control-label mb-10 text-left">Amount in words</label>
                                                    <input type="text" class="form-control" name="amount_in_words" placeholder="Enter amount_in_words">
                                               </div>
                                               <div class="form-group">
                                                    <label class="control-label mb-10 text-left">Customer Type</label>     
                                                   <select name="customer_type" class="form-control">
                                                       <% Customers_type.forEach(function(customer){ %>
                                                        <option value="<%=customer._id%>"><%=customer.name%></option>
 
                                                       <% })%>
                                                   </select>
                                                  </div>           
                                           <div class="form-group">
                                                 <label class="control-label mb-10 text-left">Reason of EDD</label>     
                                                 <select name="reason_of_edd" class="selectpicker" data-style="btn-default" data-width="100%" multiple>
                                                        <% reasons_edd.forEach(function(reasons){ %>
                                                            <option value="<%=reasons._id%>"><%=reasons.name%></option>
     
                                                           <% })%>
                                                    </select>
                                            </div> 
                                            <div class="form-group">
                                                    <label class="control-label mb-10 text-left">Service Type</label>     
                                                   <select name="type_of_service" class="form-control">

                                                       <% services_type.forEach(function(service){ %>
                                                        <option value="<%=service._id%>"><%=service.name%></option>
 
                                                       <% })%>
                                                   </select>
                                                  </div>           
                                    <div class="form-group">
                                            <label class="control-label mb-10 text-left">Nature of profession</label>
                                            <input type="text" class="form-control" name="nature_of_profession" placeholder="Enter nature_of_profession">
                                             </div>  
                                    <div class="form-group">
                                             <label class="control-label mb-10 text-left">Organization name</label>
                                             <input type="text" class="form-control" name="organization_name" placeholder="Enter organization_name">
                                   </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Pep type</label>
                               <select name="pep_type" class="form-control">

                                   <% pep_type.forEach(function(pep){ %>
                                    <option value="<%=pep._id%>"><%=pep.name%></option>

                                   <% })%>
                               </select>
                              </div>           
                           <div class="form-group">
                                 <label class="control-label mb-10 text-left">Associates</label>
                                <input type="text" class="form-control" name="associates" placeholder="Enter associates">
                           </div>  
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Others</label>
                                <input type="text" class="form-control" name="others" placeholder="Enter others">
                            </div>    
                            <div class="form-group">
                                    <label class="control-label mb-10 text-left">Relation with receiver </label>
                                   <input type="text" class="form-control" name="relation" placeholder="Enter relation">
                              </div>  
                             <div class="form-group">
                                   <label class="control-label mb-10 text-left">Receiver occupation</label>
                                   <input type="text" class="form-control" name="occupation" placeholder="Enter occupation">
                               </div>                        
                               <div class="form-group">
                                    <label class="control-label mb-10 text-left">Authorized person </label>
                                   <input type="text" class="form-control" name="authorized_person_name" placeholder="Enter name">
                              </div>  
                             <div class="form-group">
                                   <label class="control-label mb-10 text-left">Relation</label>
                                   <input type="text" class="form-control" name="authorized_person_relation" placeholder="Enter relation">
                               </div>
                               <div class="form-group">
                                    <label class="control-label mb-10 text-left">National id</label>
                                    <input type="text" class="form-control" name="authorized_person_national_id" placeholder="Enter national_id">
                                </div> 
                                <div class="form-group">
                                        <label class="control-label mb-10 text-left">Authority letter obtained</label>
                                         <label class="checkbox-inline"><input type="checkbox" name="is_authorized" value="authority letter obtained">authority letter obtained?</label>
                                       </div>
                                 <div class="form-group">
                                        <label class="control-label mb-10 text-left">Source of fund</label>
                                         <select name="source_of_fund_source" class="form-control">

                                              <% source_of_fund.forEach(function(source){ %>
                                               <option value="<%=source._id%>"><%=source.name%></option>
                                              <% })%>
                                           </select>
                                          </div>
                                <div class="form-group">
                                     <label class="control-label mb-10 text-left">Others</label>
                                      <input type="text" class="form-control" name="source_of_fund_others" placeholder="Enter others">
                                   </div>                                                         
                            <div class="form-group">
                                    <label class="control-label mb-10 text-left">Previous transactions</label>
                                    <label class="radio-inline"><input type="radio" id="transaction_type1" value="1" name="previous_transactions_type" >In 1 Month<input type="text" class="form-control" name="previous_transactions_value"  id="transaction_1" placeholder="Enter previous transactions"></label>
                                    <label class="radio-inline"><input type="radio" id="transaction_type2" value="2" name="previous_transactions_type">In 2 Month<input type="text" class="form-control" name="previous_transactions_value"  id="transaction_2" placeholder="Enter previous transactions"></label>
                                    <label class="radio-inline"><input type="radio" id="transaction_type3" value="3" name="previous_transactions_type">In 3 Month<input type="text" class="form-control" name="previous_transactions_value"  id="transaction_3" placeholder="Enter previous transactions"></label>
                             </div>
                             <div class="form-group">
                                    <label class="control-label mb-10 text-left">Additional documents</label>
                                    <input type="text" class="form-control" name="additional_documents" placeholder="Enter additional_documents">
                               </div>
                               <div class="form-group">
                                    <label class="control-label mb-10 text-left">Customer feedback</label>
                                    <textarea class="form-control" rows="5" name="customer_feedback"></textarea>
                               </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-success btn-anim pull-right"><i
                                            class="icon-rocket"></i><span class="btn-text">submit</span></button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
       $("#transaction_type1").click(function(){
                  $("#transaction_2").attr('disabled', 'disabled');
                   $("#transaction_3").attr('disabled', 'disabled');
                   $("#transaction_1").attr('disabled', false);
                   $("#transaction_2").val("");
                   $("#transaction_3").val("");
       })
       $("#transaction_type2").click(function(){
                         $("#transaction_1").attr('disabled', 'disabled');
                          $("#transaction_3").attr('disabled', 'disabled');
                          $("#transaction_2").attr('disabled', false);
                          $("#transaction_1").val("");
                          $("#transaction_3").val("");
              })
           $("#transaction_type3").click(function(){
                         $("#transaction_1").attr('disabled', 'disabled');
                          $("#transaction_2").attr('disabled', 'disabled');
                           $("#transaction_3").attr('disabled', false);
                            $("#transaction_1").val("");
                            $("#transaction_2").val("");
              })

})

</script>