<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Muhammadi Exchange</title>
    <base href="http://localhost:3000/"/>
    <meta name="description" content="Muhammadi Exchange"/>
    <meta name="keywords" content="Muhammadi Exchange"/>
    <meta name="author" content="Mufasil Iqbal"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!--alerts CSS -->
    <link href="admin/vendors/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">

    <!-- Data table CSS -->
    <link href="admin/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet"
          type="text/css"/>

    <!-- Jasny-bootstrap CSS -->
    <link href="admin/vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet"
          type="text/css"/>

    <!-- Toast CSS -->
    <link href="admin/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet"
          type="text/css">
    <!-- Custom CSS -->
    <link href="admin/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.4.1/bootstrap-select.css" rel="stylesheet" type="text/css">
    <script src="admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css"> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

</head>

<body>
<!-- Preloader -->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!-- /Preloader -->
<div class="wrapper box-layout theme-1-active pimary-color-green">
    <!-- Top Menu Items -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="mobile-only-brand pull-left">
            <div class="nav-header pull-left">
                <div class="logo-wrap">
                    <a href="/admin/dashboard">
                        <img class="brand-img" src="admin/img/logo.png" alt="brand"/>
                        <span class="brand-text">EDD</span>
                    </a>
                </div>
            </div>
            <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left"
               href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
            <a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view"
               href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
            <a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
        </div>
        <div id="mobile_only_nav" class="mobile-only-nav pull-right">

            <ul class="nav navbar-right top-nav pull-right">




                <li class="dropdown auth-drp">

                    <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="admin/img/user1.png"
                                                                                         alt="user_auth"
                                                                                         class="user-auth-img img-circle"/><span
                                class="user-online-status"></span> </a>

                    <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX"
                        data-dropdown-out="flipOutX">
                        <li>
                            <i class="fa fa-user" aria-hidden="true" style="margin-left: 20px"><span style="margin-left: 10px"><%=username%></span></i>
                        </li>
                        <li>
                            <a href="/admin/dashboard/logout"><i class="zmdi zmdi-power"></i><span>Log Out</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    <div class="fixed-sidebar-left">
        <ul class="nav navbar-nav side-nav nicescroll-bar">
            <li class="navigation-header">
                <span>Main</span>
                <i class="zmdi zmdi-more"></i>
            </li>

            <li>
                <a class="active" href="/admin/dashboard">
                    <div class="pull-left"><i class="zmdi zmdi-landscape mr-20"></i><span class="right-nav-text">Dashboard</span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>


            <%if(users == 1){%>
                <li>
                    <a href="/admin/auth">
                        <div class="pull-left"><i class="fa fa-user mr-20"></i><span
                                    class="right-nav-text">User</span></div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>

                    <a href="/admin/unit">
                        <div class="pull-left"><i class="fa fa-building mr-20"></i><span
                                    class="right-nav-text">Unit</span></div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/admin/customer_type">
                        <div class="pull-left"><i class="fa fa-users mr-20"></i><span
                                    class="right-nav-text">Customer Type</span></div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <!-- <li>
                     <a href="/admin/authorize_person">
                         <div class="pull-left"><i class="zmdi zmdi-book mr-20"></i><span
                                     class="right-nav-text">Authorize Person</span></div>
                         <div class="clearfix"></div>
                     </a>
                 </li>-->
                <li>
                    <a href="/admin/fund_source">
                        <div class="pull-left"><i class="fa fa-usd mr-20"></i><span
                                    class="right-nav-text">Fund Source</span></div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/admin/pep_type">
                        <div class="pull-left"><i class="zmdi zmdi-book mr-20"></i><span
                                    class="right-nav-text">PEP TYPE</span></div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/admin/reason_edd">
                        <div class="pull-left"><i class="fa fa-question-circle mr-20"></i><span
                                    class="right-nav-text">Reason Edd</span></div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="/admin/reporting_line">
                        <div class="pull-left"><i class="fa fa-line-chart mr-20"></i><span
                                    class="right-nav-text">Reporting Line</span></div>
                        <div class="clearfix"></div>
                    </a>
                </li>


                <li>
                    <a href="/admin/occupation">
                        <div class="pull-left"><i class="fa fa-cogs mr-20"></i><span
                                    class="right-nav-text">Occupation</span></div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>

                    <a href="/admin/edd">
                        <div class="pull-left"><i class="fa fa-wpforms mr-20"></i><span
                                    class="right-nav-text">EDD</span></div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li><a href="/admin/report">
                        <div class="pull-left"><i class="fa fa-file-excel-o mr-20"></i><span
                                    class="right-nav-text">edd_report</span></div>
                        <div class="clearfix"></div>
                    </a>
                </li>
            <%  } %>
            <% if(users == 0 ){%>
                <li>
                    <a href="/admin/customer_edd">
                        <div class="pull-left"><i class="fa fa-wpforms mr-20"></i><span
                                    class="right-nav-text">EDD</span></div>
                        <div class="clearfix"></div>
                    </a>

                </li>

            <%}%>

        </ul>
    </div>
    <!-- /Left Sidebar Menu -->

    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid pt-25">
            <%- body %>
        </div>

        <!-- Footer -->
        <footer class="footer container-fluid pl-30 pr-30">
            <div class="row">
                <div class="col-sm-12">
                    <p>2019 &copy; Muhammadi Exchange. Powered By <a target="_blank" href="http://www.hashlob.com">Hashlob</a></p>
                </div>
            </div>
        </footer>
        <!-- /Footer -->

    </div>
    <!-- /Main Content -->

</div>
<!-- /#wrapper -->

<!-- JavaScript -->

<!-- jQuery -->
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


<script src="admin/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.4.1/bootstrap-select.js"></script>

<!-- Data table JavaScript -->
<script src="admin/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>

<!-- Slimscroll JavaScript -->
<script src="admin/js/jquery.slimscroll.js"></script>

<!-- Progressbar Animation JavaScript -->
<script src="admin/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="admin/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>

<!-- Fancy Dropdown JS -->
<script src="admin/js/dropdown-bootstrap-extended.js"></script>

<!-- Sweet-Alert  -->
<script src="admin/vendors/bower_components/sweetalert/dist/sweetalert.min.js"></script>

<script src="admin/js/sweetalert-data.js"></script>

<!-- Sparkline JavaScript -->
<script src="admin/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>

<!-- Owl JavaScript -->
<script src="admin/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

<!-- Switchery JavaScript -->
<script src="admin/vendors/bower_components/switchery/dist/switchery.min.js"></script>

<!-- EChartJS JavaScript -->
<script src="admin/vendors/bower_components/echarts/dist/echarts-en.min.js"></script>
<script src="admin/vendors/echarts-liquidfill.min.js"></script>

<!-- Toast JavaScript -->
<script src="admin/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

<!-- Init JavaScript -->
<script src="admin/js/init.js"></script>
<script src="admin/js/dashboard-data.js"></script>

<script>
    $(document).ready(function(){
        $('.selectpicker').selectpicker();
        $(function () {
            $('#datetimepicker1').datetimepicker();

        });
        $(function () {
            $('#datepicker1').datepicker();
            $('#datepicker2').datepicker();
        });
    })


</script>
<%- defineContent('scripts') %>


</body>

</html>
