<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ULP</title>
    <base href="http://localhost:3000">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/quiz/css/style.css"/>
    <link rel="stylesheet" href="/web/quiz/css/bootstrap.min.css">

    <link rel="stylesheet" href="/web/quiz/css/jquery-ui.min.css">
    <script src="/web/quiz/js/socket.io.js"></script>

    <script src="/web/quiz/js/jquery-ui.min.js"></script>
    <script src="/web/quiz/js/bootstrap.min.js"></script>
    <script src="/web/quiz/js/blockUI.js"></script>
</head>
<body>
<div id="pagegradient"></div>

<%- body %>
<%- defineContent('scripts') %>

</body>
</html>
