<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">User</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="admin/auth"><span>User</span></a></li>
            <li class="active"><span>Edit</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="row">
    <div class="col-sm-12">
        <% if(messages.error || messages.info) { %>
        <div class="alert alert-<%- (messages.error) ? "danger" : "success" %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="zmdi zmdi-block pr-15 pull-left"></i><p class="pull-left"><%- (messages.error) ? messages.error : messages.info %></p>
            <div class="clearfix"></div>
        </div>
        <% } %>
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Edit User</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form action="admin/auth/edit/<%=id%>" method="post" >
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">First Name</label>
                                <input type="text" class="form-control" name="username" value="<%= institute.username ? institute.username : "" %>" placeholder="Enter first name">
                            </div>
                            <div class="form-group">
                                    <label class="control-label mb-10 text-left">last name</label>
                                    <input type="text" class="form-control" name="last_name" value="<%= institute.last_name ? institute.last_name : "" %>" placeholder="Enter last name">
                                </div>
                                <div class="form-group">
                                        <label class="control-label mb-10 text-left">Email</label>
                                        <input type="text" class="form-control" name="email" value="<%= institute.email ? institute.email : "" %>" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label mb-10 text-left">Password</label>
                                            <input type="password" class="form-control" name="password"  placeholder="Enter password">
                                             <input type="hidden" class="form-control" value="<%= institute.password ? institute.password : "" %>" name="old_password"  >
                                        </div>
                                        <div class="form-group">
                                                <label class="control-label mb-10 text-left">Department</label>     
                                                 <select name="department" class="form-control">
                                                     <option>Department</option>
                                                      <% depts.forEach(function(dept){ %>
                                                       <option value="<%=dept._id%>" <%= dept._id == institute.department ? 'selected' : ''%>><%=dept.name%></option>
                                                      <% })%>
                                                   </select>
                                        </div>
                                        <div class="form-group">
                                                <label class="pull-left control-label mb-10" for="exampleInputpwd_3">User Type</label>
                                              <select name="role_id" class="form-control">
                                                  <option value="1" <%= institute.role_id == 1 ? 'selected' : ''%> >Administrator</option>
                                                  <option value="0" <%= institute.role_id == 0 ? 'selected' : ''%>>User</option>
                                              </select>
                                            </div>
                            <div class="form-group">
                                <label class="pull-left control-label mb-10" for="exampleInputpwd_3">Manager</label>
                                <%if(institute.is_manager == "true"){%>
                                <input type="checkbox" checked name="is_manager" value="true" />
                            <%} else{%>
                                    <input type="checkbox" name="is_manager" value="true" />

                                <%}%>
                            </div>
                                                            
                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-success btn-anim pull-right"><i
                                 class="icon-rocket"></i><span class="btn-text">submit</span></button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>