
<div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">User</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/admin/dashboard">Dashboard</a></li>
                <li class="active"><a href="/admin/auth/">User</a></li>
                <li class="active"><span>Add</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <div class="row">
        <!-- Basic Table -->
        <div class="col-sm-12">
            <% if(messages.error || messages.info) { %>
            <div class="alert alert-<%- (messages.error) ? "danger" : "success" %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="zmdi zmdi-block pr-15 pull-left"></i>
                <p class="pull-left"><%- (messages.error) ? messages.error : messages.info %></p>
                <div class="clearfix"></div>
            </div>
            <% } %>
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Users</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap mt-40">
                            <div class="table-responsive">
                                    <form action="/admin/auth/add" method="post">
                                        <div class="form-group">
                                            <label class="control-label mb-10" for="first_name">First Name</label>
                                            <input type="text" class="form-control" required=""  name="username" placeholder="Enter First Name">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label mb-10" for="last_name">Last Name</label>
                                            <input type="text" class="form-control" required="" id="last_name" name="last_name" placeholder="Enter Last Name">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label mb-10" for="exampleInputEmail_2">Email address</label>
                                            <input type="email" class="form-control" required="" id="exampleInputEmail_2" name="email" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label class="pull-left control-label mb-10" for="exampleInputpwd_2">Password</label>
                                            <input type="password" class="form-control" required="" id="exampleInputpwd_2" name="password" placeholder="Enter password">
                                        </div>
                                       <div class="form-group">
                                                <label class="control-label mb-10 text-left">Department</label>     
                                                 <select name="department" class="form-control">
                                                     <option>Department</option>
                                                      <% depts.forEach(function(dept){ %>
                                                       <option value="<%=dept._id%>"><%=dept.name%></option>
                                                      <% })%>
                                                   </select>
                                        </div>
                                        <div class="form-group">
                                                <label class="pull-left control-label mb-10" for="exampleInputpwd_3">User Type</label>
                                              <select name="role_id" class="form-control">
                                                  <option value="1">Administrator</option>
                                                  <option value="0">User</option>
                                              </select>
                                            </div>
                                        <div class="form-group">
                                            <label class="pull-left control-label mb-10" for="exampleInputpwd_3">Manager</label>
                                            <input type="checkbox" name="is_manager" value="true" />
                                        </div>
                                       
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-success btn-rounded">Save</button>
                                        </div>
                                    </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Basic Table -->
    </div>
<Script>
    $(document).ready(function () {

        $('input[name="username"]').val("");
        $('input[name="last_name"]').val("");
        $('input[name="email"]').val("");
        $('input[name="password"]').val("");

    })
</Script>