<!-- Row -->
<div class="table-struct full-width full-height">
    <div class="table-cell vertical-align-middle auth-form-wrap">
        <div class="auth-form  ml-auto mr-auto no-float">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="mb-30">
                        <h3 class="text-center txt-dark mb-10">Sign in to Muhammadi Exchange</h3>
                        <h6 class="text-center nonecase-font txt-grey">Enter your details below</h6>
                    </div>
                    <div class="form-wrap">
                        <form action="/admin/auth/login" method="post">
                            <div class="form-group">
                                <label class="control-label mb-10" for="exampleInputEmail_2">Email address</label>
                                <input type="text" class="form-control" name="username" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label class="pull-left control-label mb-10" for="exampleInputpwd_2">Password</label>
                                <div class="clearfix"></div>
                                <input type="password" class="form-control" name="password"  placeholder="Enter pwd">
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success  btn-rounded">sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->