<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">User</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/auth/">User</a></li>
            <li class="active"><span>View</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="row">
    <!-- Basic Table -->
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">View</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap mt-40">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tr>
                                    <th>First Name</th>
                                    <td><%=institute.username ? institute.username : "N/A" %></td>
                                </tr>
                                <tr>
                                        <th>Last Name</th>
                                        <td><%=institute.last_name ? institute.last_name : "N/A" %></td>
                                    </tr>
                                    <tr>
                                            <th>Email</th>
                                            <td><%=institute.email ? institute.email : "N/A" %></td>
                                        </tr>
                                <tr>
                                    <th>Department</th>
                                    <td><%=department_user[0] ? department_user[0].name : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Unit</th>
                                    <td><%=unit_user[0] ? unit_user[0].name  : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Manager</th>
                                    <td><%if(institute.is_manager == "true"){%>
                                           Yes
                                        <%}else{%>
                                             No
                                        <%}%>
                                </tr>
                                <tr>
                                    <th>Date Added</th>
                                    <td><%=institute.date_added ? institute.date_added : "N/A" %></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Basic Table -->
</div>