<div id="splash">


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Audience Poll</h4>
                </div>
                <div class="modal-body">
                    <h3 id="question" data-questionid=""></h3>
                    <button class="option btn btn-primary"></button>
                    <button class="option btn btn-primary"></button>
                    <button class="option btn btn-primary"></button>
                    <button class="option btn btn-primary"></button>
                </div>
            </div>

        </div>
    </div>

</div>
<%- contentFor('scripts') %>
<script>
    $(document).ready(function () {
        //instantiate socket
        var socket = io();
        socket.on("<%= code %>", function(msg){
            if(msg){
                if(msg['event'] == "audience_poll"){
                    $("#question").html(msg['data']['question']['question']);
                    $("#question").data('questionid', msg['data']['question']['_id']);
                    $('.option').eq(0).text(msg['data']['question']['options'][0].value);
                    $('.option').eq(1).text(msg['data']['question']['options'][1].value);
                    $('.option').eq(2).text(msg['data']['question']['options'][2].value);
                    $('.option').eq(3).text(msg['data']['question']['options'][3].value);
                    $('#myModal').modal({backdrop: 'static', keyboard: false});
                }
            }
        });
    })
</script>