<div id="splash" class="overlapblackbg">
    <div class="over"></div>
    <div class="inner">

        <div class="logo">
            <img src="web/images/logo.png"/>
            <div class="match">
                <% if(institutes) { %>
                <% for(institute in institutes) { %>
                <div class="col-sm-5">
                    <div class="team-info">
                        <img style="width:80px;height:80px;" src="uploads/<%=institutes[institute]['region_id'].image%>"/>
                        <input type="hidden" name="access_code[]" value="<%= institutes[institute].access_code %>">
                        <h1 class="institute_name"><%= institutes[institute].name %></h1>
                        <h4 class="access_code"><%= institutes[institute].access_code || "" %></h4>
                    </div>
                </div>
                <% if(institute != (institutes.length) - 1){ %>
                <div class="col-sm-2">
                    <div class="vs">
                        <h1>vs</h1>
                    </div>
                </div>
                <% } %>

                <% } %>
                <% } %>
            </div>
        </div>
        <div class="cent" style="text-align:center">
            <input type="button" class="btn btn-primary start_quiz" value="Start Quiz" id="start_quiz">
        </div>
    </div>
</div>

<%- contentFor('scripts') %>
<script>
    $(document).ready(function () {
        var socket = io();
        $(".start_quiz").click(function () {
            var codes = "";
            $(".access_code").each(function (i, v) {
                socket.emit('request', {
                    "code": $(this).text(),
                    "event": "start_quiz"
                });
            });
            window.location = "controller";
        })
    })
</script>
