<div id="blue_background">
    <div class="inner">
        <div class="logo">
            <img class="selection" src="web/images/logo.png"/>
        </div>
        <div class="select-container">
            <form action="/control" method="post">
                <h3>Please enter given code to get started</h3>
                <input type="text" name="access_code" class="form-control"/>
                <button class="btn select-btn">Submit</button>
            </form>
        </div>
    </div>
</div>
