<div class="ques-bg" id="question">
    <img src="/web/images/quiz_bg.png"/>
    <div class="inner quiz_screen">
        <div class="logo">
            <input type="hidden" class="q_round" value="<%= round %>">
            <% for(institute in institutes) { %>
            <div class="team_box" data-code="<%= institutes[institute].access_code %>">
                <div class="col-sm-3">
                    <div class="team-info team">
                        <img style="width:80px;height:80px;" src="uploads/<%=institutes[institute]['region_id'].image%>"/>
                        <h1 class="teamName"><%= institutes[institute].name %></h1>
                    </div>
                    <div class="helplines">
                        <img src="web/images/audience.png" class="lifeline audience_poll" />
                        <img src="web/images/audience_cross.png" class="lifeline audience_poll_cross" style="display: none" />
                        <img src="web/images/skip_quit.png" class="lifeline skip_question" />
                        <img src="web/images/skip_quit_cross.png" class="lifeline skip_question_cross" style="display: none" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="score">
                        <h1><span id="score" class="score_final">0</span></h1>
                    </div>
                </div>
            </div>
            <% } %>

            <div class="clearfix"></div>
            <img class="selection" src="web/images/logo.png"/>

        </div>
        <div class="qus-set">
            <div class="container cont-small">
                <div class="ques-set-in">
                    <div style="margin:-60px 0 0 0;" class="container cont-small " id="html_popup">
                        <div class="html_popup">
                            <span class="s_timer"
                                  id="timer">30</span>
                            <div class="col-sm-12">
                                <div style="text-align:center !important" class="quiz1">
                                    <h1 class="question"></h1>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button disabled="" class="sbmt optionBtn721 optionBtn">
                                    <div class="quiz1 quiz1721 btn_option">
                                        <h1><span>A:</span> <span class="option_button"></span></h1>
                                    </div>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button disabled="" class="sbmt optionBtn722 optionBtn">
                                    <div class="quiz1 quiz1722 btn_option">
                                        <h1><span>B:</span> <span class="option_button"></span></h1>
                                    </div>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button disabled="" class="sbmt optionBtn723 optionBtn">
                                    <div class="quiz1 quiz1723 btn_option">
                                        <h1><span>C:</span> <span class="option_button"></span></h1>
                                    </div>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button disabled="" class="sbmt optionBtn724 optionBtn">
                                    <div class="quiz1 quiz1724 btn_option">
                                        <h1><span>C:</span> <span class="option_button"></span></h1>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 small-ss" style="text-align:center;">
            <div class="btn-cent" style="margin: 0px auto; width: 200px; display: table;" id="startTimeBtn">
                <button class="sbmt startTimer" type="button">
                    <div class="quiz2">';
                        <h1>Start</h1>
                    </div>
                </button>
            </div>

            <div class="btn-cent" style="margin: 0px auto; width: 200px; display: none;" id="nextBTN">
                <button class="sbmt" type="submit" id="nextQuestion" onclick="playerSubmit()">
                    <div class="quiz2">';
                        <h1>Next</h1>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="inner score_board" style="display: none">
        <div class="inner">
            <div class="logo">
                <img src="web/images/logo.png"/>
                <div class="match">
                    <div class="col-sm-12">
                        <div class="team-info">
                            <!--<img style="width:80px;height:80px;" src=""/>-->
                            <h1>WINNNER</h1>
                            <h1 class="institute_name"></h1>
                            <h4 class="quiz_score" style="color: #77be20;"></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cent" style="text-align:center">
                <a href="control" class="btn btn-primary">Start New Quiz</a>
            </div>
        </div>
    </div>
    <div id="musicDiv">
        <audio class="questionMusic">
            <source src="web/quiz/music/questionMusic.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>

        <audio class="psl_ring">
            <source src="web/quiz/music/psl_tone.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>

</div>
<%- contentFor('scripts') %>
<script src="/web/quiz/js/quizController.js" type="application/javascript"></script>