<div class="ques-bg" id="question">
    <img src="/web/images/quiz_bg.png"/>
    <div class="inner">
        <div class="logo">
            <div class="team_box" data-code="<%= institute[0].access_code %>">
                <div class="col-sm-3">
                    <div class="team-info team">
                        <img src=""/>
                        <h1 class="teamName"><%= institute[0].name %></h1>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="score">
                        <h1><span id="score" class="score_final">0</span></h1>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <h1>Tamsoli</h1>

        </div>
        <div class="qus-set">
            <div class="container">
                <div class="ques-set-in">
                    <div style="margin:-60px 0 0 0;" class="container " id="html_popup">
                        <div class="html_popup">
                            <span style="font-family:digital-7regular; font-size:50px; text-align:center; align:center"
                                  id="timer">30</span>
                            <div class="col-sm-12">
                                <div style="text-align:center !important" class="quiz1">
                                    <h1 class="question"></h1>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button disabled="" class="sbmt optionBtn721 optionBtn">
                                    <div class="quiz1 quiz1721 btn_option">
                                        <h1><span>A:</span> <span class="option_button"></span></h1>
                                    </div>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button disabled="" class="sbmt optionBtn722 optionBtn">
                                    <div class="quiz1 quiz1722 btn_option">
                                        <h1><span>B:</span> <span class="option_button"></span></h1>
                                    </div>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button disabled="" class="sbmt optionBtn723 optionBtn">
                                    <div class="quiz1 quiz1723 btn_option">
                                        <h1><span>C:</span> <span class="option_button"></span></h1>
                                    </div>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button disabled="" class="sbmt optionBtn724 optionBtn">
                                    <div class="quiz1 quiz1724 btn_option">
                                        <h1><span>C:</span> <span class="option_button"></span></h1>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="helplines">
            <img src="web/images/audience.png" class="lifeline audience_poll" />
            <img src="web/images/audience_cross.png" class="lifeline audience_poll_cross" style="display: none" />
            <img src="web/images/skip_quit.png" class="lifeline skip_question" />
            <img src="web/images/skip_quit_cross.png" class="lifeline skip_question_cross" style="display: none" />
        </div>
    </div>
    <div id="musicDiv">
        <audio class="questionMusic">
            <source src="web/quiz/music/questionMusic.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>

</div>
<%- contentFor('scripts') %>
<script src="/web/quiz/js/quiz.js" type="application/javascript"></script>