<div id="splash">
    <div class="modal fade in" id="myModal" role="dialog">
        <div class="modal-dialog">
            <form action="/confirm" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Select Team</h4>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6 col-xs-12">
                                <h1 class="team2">Select competition</h1>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <select class="selector competition" name="competition">
                                    <option>Select Competition</option>
                                    <% for(competition in competitions){ %>
                                    <option value="<%- competitions[competition]._id %>"><%- competitions[competition].name %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <div class="col-sm-6 col-xs-12">
                                <h1 class="team2">Select Round</h1>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <select class="selector rounds" name="rounds">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <div class="col-sm-6 col-xs-12">
                                <h1 class="team2">Select Region A</h1>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <select class="selector regiona" name="region[]">
                                    <option>Select Region A</option>
                                    <% for(region in regions){ %>
                                    <option value="<%- regions[region]._id %>"><%- regions[region].name %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="team_a_DIV">
                        <div class="col-sm-12">

                            <div class="col-sm-6 col-xs-12">
                                <h1 class="team2">Team A</h1>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <select class="selector team_a" name="team[]">

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <div class="col-sm-6 col-xs-12">
                                <h1 class="team2">Select Region B</h1>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <select class="selector regiona" name="region[]">
                                    <option>Select Region A</option>
                                    <% for(region in regions){ %>
                                    <option value="<%- regions[region]._id %>"><%- regions[region].name %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="team_b_DIV">
                        <div class="col-sm-12">
                            <div class="col-sm-6 col-xs-12">
                                <h1 class="team2">Team B</h1>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <select class="selector team_b" name="team[]">

                                </select>
                            </div>
                        </div>
                    </div>

                    <div style="text-align: center;" class="col-sm-12" id="btn_DIV">
                        <button type="submit" class="btn btn-info startBtn" id="startBtn" name="startBtn">Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- contentFor('scripts') %>
<script>
    $(document).ready(function () {
        $("#myModal").modal('show');

        //    on change: competition
        $("select[name=competition]").change(function () {
            // $.blockUI({
            //     message: "Please wait..",
            //     css: {
            //         "z-index" : 9999999
            //     }
            // });
            $.get("/api/rounds/" + $(this).val(), function (d) {
                if (d['data'].length > 0) {
                    // $.unblockUI;
                    var options = "";
                    $.each(d['data'], function (i, data) {
                        options += "<option value='" + data._id + "'>" + data.name + "</option>";
                    })
                    $("select[name=rounds]").html(options);
                }
            })
        });

        //    Populating Teams
        $("select[name='region[]']").change(function () {
            var teamElement = $(this).parent().parent().parent().next().find('select');
            $.get("/api/teams/" + $(this).val(), function (d) {
                if (d['data'].length > 0) {
                    // $.unblockUI;
                    var options = "";
                    $.each(d['data'], function (i, data) {
                        options += "<option value='" + data._id + "'>" + data.name + "</option>";
                    })
                    teamElement.html(options);
                }
            })
        })

    })
</script>