<div id="blue_background">
    <div class="inner">
        <div class="logo">
            <img class="selection" src="web/images/logo.png"/>
        </div>
        <div class="select-container">
            Please Wait....
        </div>
    </div>
</div>
<%- contentFor('scripts') %>
<script>
    $(document).ready(function () {
        //instantiate socket
        var socket = io();
        socket.on("<%= code %>", function(msg){
            if(msg){
                console.log(msg);
                if(msg['event'] == "start_quiz"){
                    window.location = "quiz/";
                }
            }
        });
    })
</script>