<div id="blue_background">
    <div class="inner">
        <div class="logo">
            <img class="selection" src="web/images/logo.png"/>
        </div>
        <div class="select-container">
            <h3>Select Your Access</h3>
            <a href="/control/audience_code" class="btn select-btn">Audience</a>
            <a href="/control" class="btn select-btn">Administration</a>
            <a href="/control" class="btn select-btn">Contestant</a>
        </div>
    </div>
</div>
