<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Reporting Line</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="admin/reporting_line"><span>Reporting Line</span></a></li>
            <li class="active"><span>Edit</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="row">
    <div class="col-sm-12">
        <% if(messages.error || messages.info) { %>
        <div class="alert alert-<%- (messages.error) ? "danger" : "success" %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="zmdi zmdi-block pr-15 pull-left"></i><p class="pull-left"><%- (messages.error) ? messages.error : messages.info %></p>
            <div class="clearfix"></div>
        </div>
        <% } %>
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Edit</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form action="admin/reporting_line/edit/<%=id%>" method="post" >
                           <div class="form-group">
                                                           <label class="control-label mb-10 text-left">Department Name</label>
                                                              <input type="hidden" name="old_department_id" value="<%= institute.department_id %>" >
                               <select name="department_id" id="department_id" class="form-control " >
                                                                  <option value=" ">Select Department</option>
                                                                   <% dept_id.forEach(function(department){ %>

                                                                       <option  data-id="<%=department.unit_id%>"  value="<%=department._id%>"><%=department.name%></option>

                                                                      <% })%>
                                                               </select>

                                                           </div>
                             <div class="form-group">
                                                           <label class="control-label mb-10 text-left">Unit Name</label>

                                 <input type="hidden" name="old_unit_id" value="<%= institute.unit_id %>" >

                                 <select name="unit_id" id="unit_id" class="form-control ">

                                     <option value=" ">Select Unit</option>
                                 </select>

                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Sort</label>
                                <input type="text" class="form-control" name="sort" value="<%= institute.sort ? institute.sort : "" %>" placeholder="Enter  sort">
                            </div>
                                 <div class="form-group">
                                     <label class="control-label mb-10 text-left">Attachement</label>

                                     <%if(institute.is_attachment == 1){%>
                                     <input type="checkbox" checked name="is_attachment" value="1">

                                     <% }else if(institute.is_attachment == 0){ %>
                                         <input type="checkbox" name="is_attachment" value="1">
                                     <%}%>
                                 </div>

                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-success btn-anim pull-right"><i
                                 class="icon-rocket"></i><span class="btn-text">submit</span></button>
                            </div>
                             </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){



 $('#department_id').change(function(){

  var department_id = $(this).find(':selected').attr('data-id');

  if(department_id != '')
  {

   $.ajax({

    url:"/admin/reporting_line/department/",
    method:"GET",
    data:{department_id:department_id},
    success:function(data)
    {

               var html = '';
                $.each(data, function (key, item)
                {
                  console.log(item);


                     html += ' <option value="' + item._id + '">' + item.name + '</option>';


                });
                $('#unit_id').html(html);

    }
   });
  }
  else
  {
   $('#unit_id').html('<option value="">Select Unit</option>');

  }
 });


});
</script>