<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Reporting Line</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="admin/reporting_line"><span>Reporting line</span></a></li>
            <li class="active"><span>Add</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="row">
    <div class="col-sm-12">
        <% if(messages.error || messages.info) { %>
            <div class="alert alert-<%- (messages.error) ? "danger" : "success" %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="zmdi zmdi-block pr-15 pull-left"></i><p class="pull-left"><%- (messages.error) ? messages.error : messages.info %></p>
                <div class="clearfix"></div>
            </div>
        <% } %>
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Add</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form action="admin/reporting_line/add" method="post" >
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Department Name</label>
                                <select name="department_id" id="department_id" class="form-control dept_id " >
                                    <% dept_id.forEach(function(department){ %>
                                    <option  data-id="<%=department.unit_id%>"  value="<%=department._id%>"><%=department.name%></option>

                                    <% })%>
                                </select>

                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Unit Name</label>

                                <select name="unit_id" id="unit_id" class="form-control ut_id">
                                    <option value="">Select Unit</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Sort</label>
                                <input type="number" class="form-control sort" name="sort" placeholder="Enter sort">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Attachement</label>
                                <input type="checkbox" name="is_attachment"  value="true">
                            </div>
                            <!--<div class="form-group">
                                <table class="table questions" border="0">
                                    <tr>
                                        <td>
                                            <a href="javascript:void(0)" class="btn-sm btn-success pull-right add_question"><i
                                                        class="fa fa-plus"></i></a>
                                        </td>
                                    </tr>

                                </table>
                            </div>-->
                           <!-- <div class="form-group">
                                <label class="pull-left control-label mb-10" for="exampleInputpwd_3">Branch Manager</label>
                                <input type="checkbox" name="is_manager" value="true" />
                            </div>-->
                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-success btn-anim pull-right"><i
                                            class="icon-rocket"></i><span class="btn-text">submit</span></button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){



            $('input[name="sort"]').val("");


        $('#department_id').change(function(){

            var department_id = $(this).find(':selected').attr('data-id');

            if(department_id != '')
            {

                $.ajax({

                    url:"/admin/reporting_line/department/",
                    method:"GET",
                    data:{department_id:department_id},
                    success:function(data)
                    {

                        var html = '';
                        $.each(data, function (key, item)
                        {
                            console.log(item);


                            html += ' <option value="' + item._id + '">' + item.name + '</option>';


                        });
                        $('#unit_id').html(html);

                    }
                });
            }
            else
            {
                $('#unit_id').html('<option value="">Select Department</option>');

            }
        });

        /*$(".add_question").click(function () {
            var rowCount = $('.question').length;
            var optionCount = $('.option').length;

            $(".questions tr:last").after("<tr>" +
                "<td><label class=\"control-label mb-10 text-left\">Question</label>" +
                "<input type=\"text\" name=\"question["+rowCount+"]\" class=\"question\"/></td>" +
                "<td><a href=\"#\" class=\"remove_this btn btn-danger\">remove</a></td>" +
                "</tr>"+
                "<tr>" +
                "<td><label class=\"control-label mb-10 text-left\">Option</label>" +
                "<a href=\"#\" class=\"btn-sm btn-success pull-right add_this\">Add</a>" +
                "<input type=\"text\" name=\"option["+rowCount+"]["+optionCount+"]\"  class=\"option\"/>" +
                "<div class=\"options\"></div>" +
                "</td>" +
                "<td><a href=\"#\" class=\"remove_this btn btn-danger\">remove</a></td>" +
                "</tr>");

            $(".add_this").click(function () {

                var optionCount = $('.option').length;
                $(".options").append("<tr>" +
                    "<td><label class=\"control-label mb-10 text-left\">Option</label>" +
                    "<input type=\"text\" name=\"option["+rowCount+"]["+optionCount+"]\" class=\"option\"/></td>" +
                    "<td><a href=\"#\" class=\"remove_this btn btn-danger\">remove</a></td>" +
                    "</tr>");
                return false;
            });
        });

        jQuery(document).on('click', '.remove_this', function () {
            jQuery(this).parent().parent().remove();
            return false;
        });
*/
       /* $("#reporting_line").click(function () {

            var dept_id = $(".dept_id").val();
            var ut_id = $(".ut_id").val();
            var sort = $(".sort").val();
            var attachment = $(".attachment").val();
            var question_find = { };
            $(".question").each(function (i) {
                question_find['question['+i+']'] = $(this).val();
            });
            var option_find = { };
            $(".option").each(function (i) {
                var name = $(this).attr("name");
                option_find['question['+name+']'] = $(this).val();
            });

            $.ajax({
                type: "POST",
                url: 'admin/reporting_line/add/',
                data: {department_id:dept_id,unit_id:ut_id,sort:sort,is_attachment:attachment,questions:{question:question_find,options:option_find}},
                success: function (msg) {
                    console.log(msg);
                    window.location.href = "/admin/reporting_line";
                    console.log('success');
                }, error: function (e) {
                    window.location.href = "/admin/reporting_line";

                }
            });
        });*/
    });
</script>