<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Approval Log</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/customer_edd/"><span>EDD</span></a></li>
            <li class="active"><span>View</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="row">
    <!-- Basic Table -->
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">View </h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap mt-40">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Rejected Reason</th>
                                </tr>
                                <% approval_log.forEach(function (data) {%>
                                <tr>
                                    <td><%= data.username ? data.username : "N/A" %></td>
                                    <td>

                                        <%if(data.edd_status == 1){%>
                                            Approved
                                        <%} else if(data.edd_rejected == 2){%>
                                            Rejected
                                        <%} else if(data.edd_status == 0){%>
                                            Pending
                                        <%}%>
                                    </td>
                                    <td><%= data.edd_rejected_reason ? data.edd_rejected_reason : "N/A" %></td>
                                </tr>
                                <% })%>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Basic Table -->
</div>