<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">EDD</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/customer_edd/"><span>EDD</span></a></li>
            <li class="active"><span>Add</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="row">
    <div class="col-sm-12">
        <% if(messages.error || messages.info) { %>
            <div class="alert alert-<%- (messages.error) ? "danger" : "success" %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="zmdi zmdi-block pr-15 pull-left"></i><p class="pull-left"><%- (messages.error) ? messages.error : messages.info %></p>
                <div class="clearfix"></div>
            </div>
        <% } %>
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Add EDD</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form id="myform" action="admin/customer_edd/add" method="post" enctype="multipart/form-data">

                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Branch Name</label>
                                <input type="text" readonly value="<%=unit_Data.name%>" name="branch_name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">EDD Date</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" name="form_date" />
                                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                                </div>
                                </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Voucher no</label>
                                <input type="text" class="form-control" name="voucher_no" required="required" placeholder="Enter voucher no">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Customer name</label>
                                <input type="text" class="form-control" name="customer_name" required="required" placeholder="Enter customer name">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Father's/Husband name</label>
                                <input type="text" class="form-control" name="father_name" required="required" placeholder="Enter father name">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Occupation</label>
                                <select name="type_of_service" required="required" id="service_id" class="form-control">

                                    <% services_type.forEach(function(service){ %>
                                    <option class="service_class"  name="<%=service.name%>" value="<%=service._id%>"><%=service.name%></option>

                                    <% })%>
                                </select>

                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Others(specify)" name="service_other_specify" id="service_other_specify"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Nature of profession</label>
                                <input type="text" class="form-control" required="required" name="nature_of_profession" placeholder="Enter nature of profession">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Customer/Representative Designation</label>
                                <input type="text" class="form-control" name="organization_Designation" required="required" placeholder="Enter organization Designation">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Customer/Representative Organization/Institution Name</label>
                                <input type="text" class="form-control" name="organization_institution_name" required="required" placeholder="Enter organization name">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Customer/Representative Organization/Institution Address</label>
                                <input type="text" class="form-control" name="organization_address" required="required" placeholder="Enter organization Address">
                            </div>

                            <div class="form-group">
                                <label class="control-label mb-10 text-left">CNIC</label>
                                <input type="text" class="form-control" name="national_identity" required="required" placeholder="Enter national identity">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Contact</label>
                                <input type="number" class="form-control" name="telephone" required="required" placeholder="Enter telephone">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">NTN</label>
                                <input type="number" class="form-control" name="ntn"  placeholder="Enter ntn">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Nature of transaction</label>
                                <label class="checkbox-inline"><input type="radio" name="nature_of_transaction" class="nature_transaction" value="BUY">BUY</label>
                                <label class="checkbox-inline"><input type="radio" name="nature_of_transaction" class="nature_transaction" value="SELL">SELL</label>
                                <label class="checkbox-inline"><input type="radio" name="nature_of_transaction" class="nature_transaction"  value="TT">TT</label>
                                <label class="checkbox-inline"><input type="radio" name="nature_of_transaction"  class="nature_transaction"  value="DD">DD</label>
                            </div>

                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Beneficiary details</label>
                                <input type="text" class="form-control" name="Beneficiary_name" id="beneficiary_name" placeholder="Enter Beneficiary name">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Relationship with Beneficiary</label>
                                <input type="text" class="form-control" id="beneficiary_Relationship"  name="relationship_with_beneficiary" placeholder="Enter relationship with beneficiary">
                            </div>
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse1">In Case of Beneficial Owner Transaction <i class="fa fa-plus-square"></i></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Actual Beneficial Owner Name</label>
                                                        <input type="text" class="form-control" name="beneficial_owner_name"   placeholder="Enter beneficial_owner_name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Relationship with Actual Benefical Owner</label>
                                                        <input type="text" class="form-control" name="beneficial_owner_relation"  placeholder="Enter Relationship with Actual Benefical Owner">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Beneficial Owner CNIC</label>
                                                        <input type="text" class="form-control" name="beneficial_owner_cnic"  placeholder="Enter Beneficial Owner CNIC">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Actual Beneficial Owner Occupation</label>
                                                        <input type="text" class="form-control" name="beneficial_owner_occcupation"  placeholder="Enter Actual Beneficial Owner Occupation">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Actual Beneficial Owner Organization</label>
                                                        <input type="text" class="form-control" name="beneficial_owner_Organization"  placeholder="Enter Actual Beneficial Owner Organization">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Actual Beneficial Owner Organization Address</label>
                                                        <input type="text" class="form-control" name="beneficial_owner_Organization_address"  placeholder="Enter Actual Beneficial Owner Organization Address">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Actual Beneficial Owner Designation</label>
                                                        <input type="text" class="form-control" name="beneficial_owner_designation"  placeholder="Enter Beneficial owner Designation">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Beneficial Owner Contact Number</label>
                                                        <input type="text" class="form-control" name="beneficial_owner_cell_number"  placeholder="Enter Beneficial Owner Contact Number">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Actual Beneficial Owner Call Confirmation</label>
                                                        <input type="radio" value="1" name="beneficial_owner_cell_confirmation" >Yes
                                                        <input type="radio" value="0" name="beneficial_owner_cell_confirmation" >No
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Actual Beneficial Owner NTN (If any)</label>
                                                        <input type="text" class="form-control" name="beneficial_owner_ntn"  placeholder="Enter national_id">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Authority letter obtained ?</label>
                                                        <label class="checkbox-inline"><input type="radio" name="is_authorized"  value="authority letter obtained">Yes
                                                            <input type="radio" name="is_authorized"  value="No">No</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Relation with receiver </label>
                                                        <input type="text" class="form-control"  name="relation" placeholder="Enter relation">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label mb-10 text-left">Receiver occupation</label>
                                                        <input type="text" class="form-control"  name="occupation" placeholder="Enter occupation">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Amount in figure</label>
                                <input type="text" class="form-control" name="amount_in_figure" required="required"  placeholder="Enter amount in figure">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Amount in words</label>
                                <input type="text" class="form-control" name="amount_in_words" required="required" placeholder="Enter amount_in_words">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Customer Type</label>
                                <select  id="cust_type" name="customer_type" required="required" class="form-control" >
                                    <% Customers_type.forEach(function(customer){ %>
                                    <option value="<%=customer._id%>" class="customer_class"  name="<%=customer.name%>"><%=customer.name%></option>

                                    <% })%>
                                </select>

                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Non-Resident(Location)" name="customer_type_location" id="customer_type_location"/>
                                <input type="text" class="form-control" required="required" placeholder="Foreigner(Nationality)" name="customer_type_nationality" id="customer_type_nationality"/>
                            </div>
                            <div class="form-group">
                                <label required="required" class="control-label mb-10 text-left">Reason of EDD</label>
                                <select  id="reason_edd"  name="reason_of_edd" class="selectpicker" data-style="btn-default" data-width="100%" multiple>
                                    <% reasons_edd.forEach(function(reasons){ %>
                                    <option value="<%=reasons._id%>"  class="reason_edd_class" name="<%=reasons.name%>"><%=reasons.name%></option>

                                    <% })%>
                                </select>

                            </div>
                            <div class="form-group" id="pep">
                                <label class="control-label mb-10 text-left">PEP type</label>
                                <select name="pep_type"  class="form-control">

                                    <% pep_type.forEach(function(pep){ %>
                                    <option class="pep_class" name="<%=pep.name%>" value="<%=pep._id%>"><%=pep.name%></option>

                                    <% })%>
                                </select>

                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Associates/Family member (PEP)" name="pep_associates" id="pep_associates"/>
                                <input type="text" class="form-control" placeholder="Any Others(specify)" name="pep_other" id="pep_other"/>
                            </div>






                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Source of fund</label>
                                <select name="source_of_fund_source" required="required" id="source_id" class="form-control">

                                    <% source_of_fund.forEach(function(source){ %>
                                    <option class="source_fund_class" name="<%=source.name%>" value="<%=source._id%>"><%=source.name%></option>
                                    <% })%>
                                </select>

                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control"  name="source_of_fund_others" id="source_of_fund_others" placeholder="source of fundothers">

                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Previous transactions</label>
                                <label class="radio-inline"><input type="radio" id="transaction_type1" value="1" name="previous_transactions_type" >In 1 Month<input type="number" required="required" class="form-control" name="previous_transactions_value"  id="transaction_1" placeholder="Enter previous transactions"></label>
                                <label class="radio-inline"><input type="radio" id="transaction_type2" value="2" name="previous_transactions_type">In 2 Month<input type="number" required="required" class="form-control" name="previous_transactions_value"  id="transaction_2" placeholder="Enter previous transactions"></label>
                                <label class="radio-inline"><input type="radio" id="transaction_type3" value="3" name="previous_transactions_type">In 3 Month<input type="number" required="required" class="form-control" name="previous_transactions_value"  id="transaction_3" placeholder="Enter previous transactions"></label>
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Additional documents Provided</label>

                                <table class="table additional_document" border="0">
                                    <tr>
                                        <td>
                                            <a href="javascript:void(0)" class="btn-sm btn-success pull-right add_document"><i
                                                        class="fa fa-plus"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><select required="required" name='additional_document_name'>
                                                <option value="Immigration(Visa/Letter)">Immigration(Visa/Letter)</option>
                                                <option value="Bank Deposit/Withdrawal Slip">Bank Deposit/Withdrawal Slip</option>
                                                <option value="NTN">NTN</option>
                                                <option value="Business Card">Business Card</option>

                                            </select></td>
                                        <td><input type="file" required="required" name="additional_documents" id="file"/></td>

                                    </tr>
                                </table>



                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Brief Customer Profile:[Explain why he/she slouldn't be reported as Suspicious (STR)]</label>
                                <textarea required="required" class="form-control" rows="5" name="customer_feedback"></textarea>
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" id="btn_attachment" class="btn btn-success btn-anim pull-right"><i
                                            class="icon-rocket"></i><span class="btn-text">submit</span></button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        $('#myform').validate({
            rules: {
                'nature_of_transaction': {
                    required: true,

                }
            },
            messages: {
                'nature_of_transaction': {
                    required: "You must check at least 1 box",
                    maxlength: "Check no more than {0} boxes"
                }
            },

        });


        $("#customer_type_location").css("display", "none");
        $("#customer_type_nationality").css("display", "none");
        $("#service_other_specify").css("display", "none");
        $("#pep_associates").css("display", "none");
        $("#pep_other").css("display", "none");
        $("#source_of_fund_others").css("display", "none");


        $("#pep").css("display", "none");


        $("#customer_type_location").val("");
        $("#customer_type_nationality").val("");
        $("#service_other_specify").val("");
        $("#pep_associates").val("");
        $("#source_of_fund_others").val("");




        $("#cust_type").change(function () {
            var a = $(".customer_class:checked").attr("name");
            if(a ==  "Non-Resident")
            {
                $("#customer_type_location").css("display", "block");
                $("#customer_type_nationality").css("display", "none");
                $("#customer_type_nationality").val("");

            }
            else if(a ==  "Foreigner")
            {
                $("#customer_type_nationality").css("display", "block");
                $("#customer_type_location").css("display", "none");
                $("#customer_type_location").val("");
            }
            else{$("#customer_type_location").css("display", "none");
                $("#customer_type_nationality").css("display", "none");
                $("#customer_type_location").val("");
                $("#customer_type_nationality").val("");
            }
        })
        $("#service_id").change(function () {
            var a = $(".service_class:checked").attr("name");
            if(a ==  "Any Other")
            {
                $("#service_other_specify").css("display", "block");

            }

            else{
                $("#service_other_specify").css("display", "none");
                $("#service_other_specify").val("");
            }
        })
        $("#pep").change(function () {
            var a = $(".pep_class:checked").attr("name");
            if(a ==  "Associate/ Family Members")
            {
                $("#pep_associates").css("display", "block");
                $("#pep_other").css("display", "none");
                $("#pep_other").val("");
            }
            else if(a ==  "Any Others")
            {
                $("#pep_associates").css("display", "none");
                $("#pep_other").css("display", "block");
                $("#pep_associates").val("");
            }

            else{
                $("#pep_associates").css("display", "none");
                $("#pep_other").css("display", "none");
                $("#pep_associates").val("");
                $("#pep_other").val("");
            }
        })

        $("#reason_edd").on('change', function() {
            var a = $(".reason_edd_class:checked").attr("name");
            var reason_id = $("#reason_edd").val();
            console.log(reason_id);
            if(reason_id){
                if(reason_id.includes("5ca2099ebea9480cf445f8cc")){
                    $("#pep").css("display", "block");
                } else{
                    $("#pep").css("display", "none");
                }
            }

        })
        $("#source_id").change(function () {
            var a = $(".source_fund_class:checked").attr("name");


            if(a ==  "Any Others")
            {
                $("#source_of_fund_others").css("display", "block");


            }
            else
            {
                $("#source_of_fund_others").css("display", "none");
                $("#source_of_fund_others").val("");

            }
        })

        $("#transaction_type1").click(function(){
            $("#transaction_2").attr('disabled', 'disabled');
            $("#transaction_3").attr('disabled', 'disabled');
            $("#transaction_1").attr('disabled', false);
            $("#transaction_2").val("");
            $("#transaction_3").val("");
        })
        $("#transaction_type2").click(function(){
            $("#transaction_1").attr('disabled', 'disabled');
            $("#transaction_3").attr('disabled', 'disabled');
            $("#transaction_2").attr('disabled', false);
            $("#transaction_1").val("");
            $("#transaction_3").val("");
        })
        $("#transaction_type3").click(function(){
            $("#transaction_1").attr('disabled', 'disabled');
            $("#transaction_2").attr('disabled', 'disabled');
            $("#transaction_3").attr('disabled', false);
            $("#transaction_1").val("");
            $("#transaction_2").val("");
        })

        /*add and remove additional document*/

        $(".add_document").click(function () {
            $(".additional_document tr:last").after("<tr>" +
                " <td><select name='additional_document_name'>\n" +
                "  <option value='Immigration(Visa/Letter)'>Immigration(Visa/Letter)</option>\n" +
                "  <option value='Bank Deposit/Withdrawal Slip'>Bank Deposit/Withdrawal Slip</option>\n" +
                "   <option value='NTN'>NTN</option>\n" +
                "<option value='Business Card'>Business Card</option>\n" +
                "\n" +
                " </select></td>" +
                "<td><input type=\"file\" name=\"additional_documents\" class=\"file\"/></td>" +
                "<td><a href=\"#\" class=\"remove_this btn btn-danger\">remove</a><td></td>" +

                "</tr>");
        });

        // $("#btn_attachment").click(function () {
        //     console.log(">>>");
        //     var formData = new FormData();
        //     $("input[name=additional_documents]").each(function (i, e) {
        //         formData.append("additional_document", $(this)[0].files[0]);
        //     })
        //
        //     $.ajax({
        //         type: "POST",
        //         url: 'admin/customer_edd/add',
        //         data: formData,
        //         contentType: false,
        //         processData: false,
        //         cache:false,
        //         success: function (data) {
        //             window.location.href = "/admin/customer_edd";
        //             console.log('success');
        //             // console.log(JSON.stringify(data));
        //         }, error: function (e) {
        //             window.location.href = "/admin/customer_edd";
        //
        //         }
        //     });
        // })
        jQuery(document).on('click', '.remove_this', function() {
            jQuery(this).parent().parent().remove();
            return false;
        });
    })

</script>