<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">EDD</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li class="active"><span>EDD</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<div class="row">
    <!-- Basic Table -->
    <div class="col-sm-12">
        <% if(messages.error || messages.info) { %>
            <div class="alert alert-<%- (messages.error) ? "danger" : "success" %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="zmdi zmdi-block pr-15 pull-left"></i>
                <p class="pull-left"><%- (messages.error) ? messages.error : messages.info %></p>
                <div class="clearfix"></div>
            </div>
        <% } %>

        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">EDD</h6>
                </div>
                <div class="pull-right">
                    <a href="admin/customer_edd/add" class="btn btn-primary btn-icon-anim btn-square"><i
                                class="fa fa-plus white "></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- rejected reason Modal  -->

            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap mt-40">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Form date</th>
                                    <th>Customer Name</th>

                                    <th>Voucher no</th>
                                    <th>CNIC/PASSPORT</th>
                                    <th>Amount in figure</th>
                                    <th>Amount in words</th>
                                    <th>Created On</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                <% if(institutes.length > 0) { %>
                                    <% for(var i = 0; i < institutes.length; i++) { %>
                                        <input type="hidden" value="<%= institutes[i]._id %>" id="edd_id">

                                        <!--end -->
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= moment(institutes[i].form_date).format('Do MMMM, YYYY'); %></td>
                                            <td><%= institutes[i].customer_name %> </td>
                                            <td><%= institutes[i].voucher_no %></td>
                                            <td><%= institutes[i].national_identity %></td>
                                            <td><%= institutes[i].amount_in_figure %></td>
                                            <td><%= institutes[i].amount_in_words %></td>
                                            <td><%= institutes[i].date_added %></td>
                                            <td>
                                                <%
                                                if(institutes[i].status != 2)
                                                {
                                                if(institutes[i].status == 0) { %>
                                                    <p>Pending</p>
                                                <% } else if(institutes[i].status == 1){ %>
                                                    <p>Approved</p>
                                                <% }} else if(institutes[i].status == 2){ %>
                                                    <p>Rejected</p>
                                                <% } %>
                                            </td>
                                            <td class="text-nowrap">

                                                <% if(institutes[i].approval_status == 1) { %>
                                                    <a href="admin/customer_edd/approval/<%= institutes[i]._id %>"
                                                       style="display:none"
                                                       is_attachment="<%= institutes[i].is_attachment %>"

                                                       data-id="<%= institutes[i]._id %>" class="approval mr-25"
                                                       data-toggle="tooltip" data-original-title="Approval"> <i
                                                                class="fa fa-pencil text-inverse m-r-10"></i> </a>

                                                <% } else if(institutes[i].status != 2){
                                                if(institutes[i].approval_status == 0) { %>

                                                    <a href="admin/customer_edd/approval/<%= institutes[i]._id %>"
                                                       is_attachment="<%= institutes[i].is_attachment %>"
                                                       questions="<%= (institutes[i].questions) ? institutes[i].questions.length : 0 %>"
                                                       data-id="<%= institutes[i]._id %>" class="approval mr-25"
                                                       data-toggle="tooltip" data-original-title="Approval"> <i
                                                                class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <% } }  else if(institutes[i].status == 1) { %>
                                                    <a href="admin/customer_edd/approval/<%= institutes[i]._id %>"
                                                       is_attachment="<%= institutes[i].is_attachment %>"

                                                       data-id="<%= institutes[i]._id %>" style="display:none"
                                                       class="approval mr-25"
                                                       data-toggle="tooltip" data-original-title="Approval"> <i
                                                                class="fa fa-pencil text-inverse m-r-10"></i> </a>

                                                <% } else if(institutes[i].is_rejected == 2 ) { %>
                                                    <a href="admin/customer_edd/approval/<%= institutes[i]._id %>"
                                                       is_attachment="<%= institutes[i].is_attachment %>"
                                                       data-id="<%= institutes[i]._id %>" style="display:none"
                                                       class="approval" class="mr-25"
                                                       data-toggle="tooltip" style="display:none"
                                                       data-original-title="Approval"> <i
                                                                class="fa fa-pencil text-inverse m-r-10"></i> </a>

                                                <% } %>
                                                  <% if(unit_type[0].unit_type == 0 && is_manager == "true") { %>
                                                    <a href="admin/edd/pdf/<%= institutes[i]._id %>" class="mr-25"
                                                       data-toggle="tooltip" data-original-title="Pdf"> <i
                                                                class="fa fa-eye text-inverse m-r-10"></i> </a>
                                                    <% }%>
                                                    <%  if(is_manager != "true")  { %>
                                                    <a href="admin/edd/pdf/<%= institutes[i]._id %>" class="mr-25"
                                                       data-toggle="tooltip" data-original-title="Pdf"> <i
                                                                class="fa fa-eye text-inverse m-r-10"></i> </a>
                                                    <% }%>
                                                <a href="admin/customer_edd/view/<%= institutes[i]._id %>" class="mr-25"
                                                   data-toggle="tooltip" data-original-title="View"> <i
                                                            class="fa fa-eye text-inverse m-r-10"></i> </a>


                                                <a href="admin/customer_edd/approval_log/<%= institutes[i]._id %>"
                                                   class="mr-25"
                                                   data-toggle="tooltip" data-original-title="approval log"> <i
                                                            class="fa fa-eye text-inverse m-r-10"></i> </a>

                                                <%  if(institutes[i].is_rejected == 2) { %>

                                                    <a href="admin/customer_edd/rejected/<%= institutes[i]._id %>"
                                                       class="mr-25 rejectededd"
                                                       data-toggle="tooltip"
                                                       data-original-title="Rejected"> <i
                                                                style="display:none;"  class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <% } %>
                                                <% if(institutes[i].status == 1 ){  %>
                                                    <button type="button"
                                                            style="display:none;" data-toggle="tooltip" data-original-title="Rejected"
                                                            data-toggle="modal" class="rejectededd" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-target="rejectededd">
                                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                                    </button>

                                                <% }  else if(institutes[i].status == 2 ) { %>
                                                    <button type="button"
                                                            style="display:none;" class="rejectededd" data-toggle="tooltip" data-original-title="Rejected"
                                                            >
                                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                                    </button>
                                                <% } /* else if(unit_type[0].unit_type == 1) { %>
                                                        <button type="button" class="rejectededd" data-toggle="tooltip" data-placement="top" title="Rejected"
                                                                style="background: none;color: black;border: none;"
                                                                data-id="<%= institutes[i]._id %>">
                                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                                        </button>
                                                    <% } else if(unit_type[0].unit_type == 2) { %>
                                                        <button type="button" class="rejectededd" data-toggle="tooltip" data-placement="top" title="Rejected"
                                                                style="background: none;color: black;border: none;"
                                                                data-id="<%= institutes[i]._id %>">
                                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                                        </button>
                                                    <% }*/else if(institutes[i].approval_status == 1)  { %>
                                                    <button type="button"
                                                            style="display:none"
                                                            data-id="<%= institutes[i]._id %>"
                                                            class="rejectededd">
                                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                                    </button>
                                                <% } else if(is_manager == "true")  { %>
                                                        <button type="button"  data-id="<%= institutes[i]._id %>" data-toggle="tooltip" data-placement="top" title="Rejected"
                                                                style="background: none;color: black;border: none;"
                                                                class="rejectededd">
                                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                                        </button>

                                                    <% }%>
                                            </td>
                                        </tr>
                                    <% } %>

                                <% } else { %>
                                    <tr>
                                        <td colspan="6" align="center">No record found</td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>

                            <% if (pages > 0) { %>
                                <ul class="pagination text-center">
                                    <% if (current == 1) { %>
                                        <li class="disabled"><a>First</a></li>
                                    <% } else { %>
                                        <li><a href="admin/customer_edd?page=1">First</a></li>
                                    <% } %>
                                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                    <% if (i !== 1) { %>
                                        <li class="disabled"><a>...</a></li>
                                    <% } %>
                                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                        <% if (i == current) { %>
                                            <li class="active"><a><%= i %></a></li>
                                        <% } else { %>
                                            <li><a href="admin/customer_edd?page=<%= i %>"><%= i %></a></li>
                                        <% } %>
                                        <% if (i == Number(current) + 4 && i < pages) { %>
                                            <li class="disabled"><a>...</a></li>
                                        <% } %>
                                    <% } %>
                                    <% if (current == pages) { %>
                                        <li class="disabled"><a>Last</a></li>
                                    <% } else { %>
                                        <li><a href="admin/customer_edd?page=<%= pages %>">Last</a></li>
                                    <% } %>
                                </ul>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /Basic Table -->

        <div class="modal fade" id="rejectedModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Rejected</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="result-form" >
                        <input type="hidden" id="rejecthid" value="" />
                        <input type="text"  class="form-control rejected_reason"
                               name="rejected_reason" id="rejected_reason" placeholder="Enter Reason">
                            <label id="errors"></label>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="rejectbtn"
                                class="btn btn-success btn-anim pull-right"><i
                                    class="icon-rocket"></i><span class="btn-text">submit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    <div class="modal fade" id="approvalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Attachment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <input type="hidden" id="edd_ids" value="">
                        <table class="table attachments" border="0">
                            <tr>
                                <td>
                                    <a href="javascript:void(0)" class="btn-sm btn-success pull-right add_attachment"><i
                                                class="fa fa-plus"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="file" name="attachment_files" id="file"/></td>
                            </tr>

                        </table>

                    </div>
                    <div class="col-md-12 questions_table">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="btn_attachment" class="btn btn-success btn-anim pull-right"><i
                                class="icon-rocket"></i><span class="btn-text">submit</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="questionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Questions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 questions_table1">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="btn_question" class="btn btn-success btn-anim pull-right"><i
                                class="icon-rocket"></i><span class="btn-text">submit</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {


        $(".approval").click(function (e) {

            e.preventDefault();
            var is_attachment = $(this).attr('is_attachment');
            console.log(is_attachment);
            var questions = $(this).attr('questions');

            var edd_id = $(this).attr("data-id");
            var a = $("#edd_ids").val(edd_id);
            if (is_attachment == "true" && questions != "0") {

                $.get("admin/customer_edd/get_questions/" + edd_id, function (data) {
                    var html = "<table border='1'>";
                    if (data.length > 0) {
                        $.each(data, function (i, d) {
                            html += "<tr>" +
                                "<td>" + d['question'] + "</td>";

                            if (d.options.length > 0) {
                                html += "<td>";
                                $.each(d.options, function (iop, dop) {
                                    if (dop) {
                                        html += "<input type='radio' required class='radiobtn' answer_id="+ d['question'] + " value='"+dop+"' name='op-" + i +"'>" + dop;

                                    }
                                })
                                html += "</td>";
                            }
                            html += "</tr>";
                        })
                    }
                    html += "</table>";
                    $(".questions_table").html(html);
                })
                $("#approvalModal").modal('show');
            }
           else if (is_attachment == "true") {

                $.get("admin/customer_edd/get_questions/" + edd_id, function (data) {
                    var html = "<table border='1'>";
                    if (data.length > 0) {
                        $.each(data, function (i, d) {
                            html += "<tr>" +
                                "<td>" + d['question'] + "</td>";

                            if (d.options.length > 0) {
                                html += "<td>";
                                $.each(d.options, function (iop, dop) {
                                    if (dop) {
                                        html += "<input type='radio' required class='radiobtn' answer_id="+ d['question'] +" value='"+dop+"' name='op-" + i +"'>" + dop;
                                    }
                                })
                                html += "</td>";
                            }
                            html += "</tr>";
                        })
                    }
                    html += "</table>";
                    $(".questions_table").html(html);
                })
                $("#approvalModal").modal('show');
            }
         else if (is_attachment == "false" && questions != "0") {
                $.get("admin/customer_edd/get_questions/" + edd_id, function (data) {
                    var html = "<table border='1'>";
                    if (data.length > 0) {
                        $.each(data, function (i, d) {
                            html += "<tr>" +
                                "<td>" + d['question'] + "</td>";

                            if (d.options.length > 0) {
                                html += "<td>";
                                $.each(d.options, function (iop, dop) {
                                    if (dop) {
                                        html += "<input type='radio' required value='"+dop+"' class='radiobtn1' name='ans-" + i +"'>" + dop;
                                    }
                                })
                                html += "</td>";
                            }
                            html += "</tr>";
                        })
                    }
                    html += "</table>";
                    $(".questions_table1").html(html);
                })
                $("#questionsModal").modal('show');


            }

         else if (is_attachment == "false" && questions == "0") {


                var edd_id = $(this).attr("data-id");
                $.ajax({
                    data: {id: edd_id},
                    url: 'admin/customer_edd/approval/' + edd_id,
                    success: function (data) {
                        window.location.href = "/admin/customer_edd";
                        console.log('success');
                    }
                });

            }
        })

        $(".add_attachment").click(function () {
            $(".attachments tr:last").after("<tr>" +
                "<td><input type=\"file\" name=\"attachment_files\" class=\"file\"/></td>" +
                "<td><a href=\"#\" class=\"remove_this btn btn-danger\">remove</a><td></td>" +
                "</tr>");
        });
        jQuery(document).on('click', '.remove_this', function () {
            jQuery(this).parent().parent().remove();
            return false;
        });
        $("#btn_question").click(function () {
            var edd_id = $("#edd_ids").val();
            var data = { };
            $(".radiobtn1:checked").each(function (i) {
                data['answer['+i+']'] = $(this).val();
            });
            $.ajax({
                type: "POST",
                url: 'admin/customer_edd/questions/' + edd_id,
                data: data,
                success: function (msg) {
                    console.log(msg);
                    window.location.href = "/admin/customer_edd";
                    console.log('success');
                }, error: function (e) {
                    window.location.href = "/admin/customer_edd";

                }
            });
        });

        $("#btn_attachment").click(function () {
            var edd_id = $("#edd_ids").val();
            var formData = new FormData();
            $("input[name=attachment_files]").each(function (i, e) {
                formData.append("attachments", $(this)[0].files[0]);
            })
            $(".radiobtn:checked").each(function () {
                formData.append("answer", $(this).val());
                formData.append("answer_id", $(this).attr('answer_id'));
            });




            $.ajax({
                type: "POST",
                url: 'admin/customer_edd/approval/' + edd_id,
                data: formData,
                contentType: false,
                processData: false,
                cache: false,
                success: function (msg) {
                    console.log(msg);
                    window.location.href = "/admin/customer_edd";
                    console.log('success');
                    // console.log(JSON.stringify(data));
                }, error: function (e) {
                    console.log(e);
                    window.location.href = "/admin/customer_edd";

                }
            });
        })
        $(".rejectededd").click(function () {
            var id = $(this).attr("data-id");
            var s = $("#rejecthid").val(id);
            $("#rejectedModal").modal('show');

        });
        $("#rejectbtn").click(function () {
            var a = $('.rejected_reason').val();


            if(a == "") {

                $('#errors').empty().text('Please enter your Reason');
                return false;
            }
            else{
            var rejected = $("#rejecthid").val();


            var rejected_reason = $("#rejected_reason").val();
            $.ajax({
                type: "POST",
                url: 'admin/customer_edd/rejected/' + rejected,
                data:{rejected_reason:rejected_reason},
                success: function (msg) {

                    window.location.href = "/admin/customer_edd";


                }, error: function (e) {

                    window.location.href = "/admin/customer_edd";

                }
            });
           }
        });
    })
</script>