<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark"></h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
              <li><a href="/admin/customer_edd/"><span>EDD</span></a></li>
            <li class="active"><span>View</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="row">
    <!-- Basic Table -->
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">View </h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap mt-40">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tr>
                                    <th>Branch Name</th>
                                    <td><%= edd ? edd.branch_name : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>EDD Date</th>
                                    <td><%= moment(edd.form_date).format('Do MMMM, YYYY') ? moment(edd.form_date).format('Do MMMM, YYYY') : "N/A" %></td>
                                </tr>
                            <tr>
                                <th>Voucher no</th>
                                <td><%=edd ? edd.voucher_no : "N/A" %></td>
                                </tr>
                            <tr>
                                <th>Customer name</th>
                                <td><%=customer ? customer.customer_name : "N/A" %></td>
                                </tr>
                            <tr>
                                    <th>Father name</th>
                                    <td><%=customer ? customer.father_name : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Occupation</th>
                                    <td><%=customer_service_types ? customer_service_types.name : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Nature of profession</th>
                                    <td><%=customer.ocupation ? customer.ocupation.nature_of_profession : "N/A" %></td>
                                </tr>

                                <tr>
                                    <th>Customer/Representative Designation</th>
                                    <td><%=customer ? customer.organization_Designation : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Customer/Representative Organization/Institude Name</th>
                                    <td><%=customer ? customer.organization_institution_name : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Customer/Representative Organization/Institude Address</th>
                                    <td><%=customer ? customer.organization_address : "N/A" %></td>
                                </tr>
                            <tr>
                                    <th>CNIC</th>
                                    <td><%=customer ? customer.national_identity : "N/A" %></td>
                                </tr>
                            <tr>
                                    <th>Contact</th>
                                    <td><%=customer ? customer.telephone : "N/A" %></td>
                                </tr>

                            <tr>
                                    <th>NTN</th>
                                    <td><%=customer ? customer.ntn : "N/A" %></td>
                                </tr>
                            <tr>
                                    <th>Nature of transaction</th>
                                    <td><%=edd? edd.nature_of_transaction : "N/A" %></td>
                                </tr>
                                <tr>
                                        <th>Beneficiary name</th>
                                        <td><%=customer.beneficiary_detail ? customer.beneficiary_detail.name : "N/A" %></td>
                                    </tr>
                            <tr>
                                    <th>Relationship with beneficiary</th>
                                    <td><%=customer.beneficiary_detail ? customer.beneficiary_detail.relationship : "N/A" %></td>
                                </tr>
                            <tr>
                                <tr>
                                    <th>Actual Beneficial Owner Name</th>
                                    <td><%=customer.authorized_person ? customer.authorized_person.name : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Relationship With Actual Benefical Owner</th>
                                    <td><%=customer.authorized_person ? customer.authorized_person.relation : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Beneficial Owner CNIC</th>
                                    <td><%=customer.authorized_person ? customer.authorized_person.national_id : "N/A" %></td>
                                </tr>

                                <tr>
                                    <th>Actual Beneficial Owner Occupation</th>
                                    <td><%=customer.authorized_person ? customer.authorized_person.beneficial_owner_occupation : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Actual Beneficial Owner Organization</th>
                                    <td><%=customer.authorized_person ? customer.authorized_person.beneficial_owner_Organization : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Actual Beneficial Owner Designation</th>
                                    <td><%=customer.authorized_person ? customer.authorized_person.beneficial_owner_designation : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Beneficial Owner Contact Number</th>
                                    <td><%=customer.authorized_person ? customer.authorized_person.beneficial_cell_number : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Actual Beneficial Owner Call Confirmation</th>
                                    <td>
                                    <%if(customer.authorized_person.beneficial_owner_cell_confirmation == 1) {%>
                                          Yes
                                    <%} else{ %>
                                        No
                                    <%}%>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Actual Beneficial Owner NTN (If Any)</th>
                                    <td><%=customer.authorized_person ? customer.authorized_person.beneficial_owner_ntn : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Is authorized</th>
                                    <td><%=customer.authorized_person ? customer.authorized_person.is_authorized : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Customer Relationship with Receiver</th>
                                    <td><%=customer.relation_with_receiver? customer.relation_with_receiver.relation : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Receiver's Occupation</th>
                                    <td><%=customer.relation_with_receiver ? customer.relation_with_receiver.occupation : "N/A" %></td>
                                </tr>

                                <th>Amount in figure</th>
                                    <td><%=edd ? edd.amount_in_figure : "N/A" %></td>
                                </tr>
                                <tr>
                                        <th>Amount in words</th>
                                        <td><%=edd ? edd.amount_in_words : "N/A" %></td>
                                    </tr>
                                    <tr>
                                            <th>Customer type</th>
                                            <td><%=customer_type ? customer_type.name : "N/A" %></td>
                                        </tr>
                                     <tr>
                                    <th>Reason of edd</th>
                                    <td> <ul>
                                            <% reason_of_edd.forEach(function (data) { %>
                                            <li><%=data ? data.name  : "N/A"%></li>
                                            <% }) %>
                                        </ul>
                                    </td>
                                </tr>
                            <tr>
                                    <th>PEP type</th>
                                    <td><%=customer_pep_types ? customer_pep_types.name : "N/A" %></td>
                                </tr>
                            <tr>
                                    <th>Associates</th>
                                    <td><%=customer.ocupation ? customer.ocupation.pep_associates : "N/A" %></td>
                                </tr>
                                <tr>
                                        <th>Others</th>
                                        <td><%=customer.ocupation ? customer.ocupation.pep_other : "N/A" %></td>
                                    </tr>

                                <tr>
                                        <th>Source of fund Source</th>
                                        <td><%=customer_source_of_funds ? customer_source_of_funds.name : "N/A" %></td>
                                    </tr>
                                    <tr>
                                    <th>Source of fund others</th>
                                   <td><%=customer.source_of_fund ? customer.source_of_fund.others : "N/A" %></td>
                                     </tr>
                                   <tr>
                                        <th>Previous transactions type</th>
                                        <td><%=edd.previous_transactions ? edd.previous_transactions.type : "N/A" %></td>
                                    </tr>
                                    <tr>
                                            <th>Previous transactions value</th>
                                            <td><%=edd.previous_transactions ? edd.previous_transactions.type : "N/A" %></td>
                                        </tr>

                                    <tr>
                                            <th>Brief Customer Profile:[Explain why he/she slouldn't be reported as Suspicious (STR)]</th>
                                            <td><%=edd.customer_feedback ? edd.customer_feedback : "N/A" %></td>
                                        </tr>
                               
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Basic Table -->
</div>