<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Authorize Person</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="admin/authorize_person"><span>Authorize Person</span></a></li>
            <li class="active"><span>Edit</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="row">
    <div class="col-sm-12">
        <% if(messages.error || messages.info) { %>
        <div class="alert alert-<%- (messages.error) ? "danger" : "success" %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="zmdi zmdi-block pr-15 pull-left"></i><p class="pull-left"><%- (messages.error) ? messages.error : messages.info %></p>
            <div class="clearfix"></div>
        </div>
        <% } %>
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Add Authorize Person</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form action="admin/authorize_person/edit/<%=id%>" method="post" >
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">Name</label>
                                <input type="text" class="form-control" name="name" value="<%= institute.name ? institute.name : "" %>" placeholder="Enter  name">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">relation</label>
                                <input type="text" class="form-control" name="relation" value="<%= institute.relation ? institute.relation : "" %>" placeholder="Enter  relation">
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10 text-left">national_id</label>
                                <input type="text" class="form-control" name="national_id" value="<%= institute.national_id ? institute.national_id : "" %>" placeholder="Enter  national id">
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-success btn-anim pull-right"><i
                                 class="icon-rocket"></i><span class="btn-text">submit</span></button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>