<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Authorize Person</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li class="active"><span>Authorize Person</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="row">
    <!-- Basic Table -->
    <div class="col-sm-12">
        <% if(messages.error || messages.info) { %>
        <div class="alert alert-<%- (messages.error) ? "danger" : "success" %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="zmdi zmdi-block pr-15 pull-left"></i>
            <p class="pull-left"><%- (messages.error) ? messages.error : messages.info %></p>
            <div class="clearfix"></div>
        </div>
        <% } %>
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Authorize Person</h6>
                </div>
                <div class="pull-right">
                    <a href="admin/authorize_person/add" class="btn btn-primary btn-icon-anim btn-square"><i
                                class="fa fa-plus white "></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap mt-40">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>relation</th>
                                    <th>national_id</th>
                                    <th>Created On</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% if(institutes.length > 0) { %>
                                <% for(var i = 0; i < institutes.length; i++) { %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= institutes[i].name %></td>
                                    <td><%= institutes[i].relation %></td>
                                    <td><%= institutes[i].national_id %></td>
                                   <td><%= institutes[i].date_added %></td>
                                    <td class="text-nowrap">
                                        <a href="admin/authorize_person/edit/<%= institutes[i]._id %>" class="mr-25"
                                           data-toggle="tooltip" data-original-title="Edit"> <i
                                                    class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                        <a href="admin/authorize_person/view/<%= institutes[i]._id %>" class="mr-25"
                                           data-toggle="tooltip" data-original-title="View"> <i
                                                    class="fa fa-eye text-inverse m-r-10"></i> </a>
                                        <a href="javascript:void(0)"
                                           data-redirect="admin/authorize_person/remove/<%= institutes[i]._id %>"
                                           data-toggle="tooltip" data-original-title="Delete" id="" class="sa-params">
                                            <i class="fa fa-close text-danger"></i> </a>
                                    </td>
                                </tr>
                                <% } %>
                                <% } else { %>
                                <tr>
                                    <td colspan="6" align="center">No record found</td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                            <% if (pages > 0) { %>
                            <ul class="pagination text-center">
                                <% if (current == 1) { %>
                                <li class="disabled"><a>First</a></li>
                                <% } else { %>
                                <li><a href="admin/authorize_person?page=1">First</a></li>
                                <% } %>
                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                <% if (i !== 1) { %>
                                <li class="disabled"><a>...</a></li>
                                <% } %>
                                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                <% if (i == current) { %>
                                <li class="active"><a><%= i %></a></li>
                                <% } else { %>
                                <li><a href="admin/authorize_person?page=<%= i %>"><%= i %></a></li>
                                <% } %>
                                <% if (i == Number(current) + 4 && i < pages) { %>
                                <li class="disabled"><a>...</a></li>
                                <% } %>
                                <% } %>
                                <% if (current == pages) { %>
                                <li class="disabled"><a>Last</a></li>
                                <% } else { %>
                                <li><a href="admin/authorize_person?page=<%= pages %>">Last</a></li>
                                <% } %>
                            </ul>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Basic Table -->
</div>