@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	font-family: 'Open Sans', sans-serif !important;
    background: url(../img/bg4.png);
    background-size: cover;
	color:lawngreen;
}
.header {
    float: left;
    width: 100%;
    margin: 20px 0;
}
ul.social li {
    float: right;
    list-style: none;
    padding: 0 3px;
}
ul.social {
    float: left;
    width: 100%;
    padding-left: 0;
}
.nav-tabs>li>a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}
.main-content p {
    width: 60%;
    margin: 10px auto 0;
    font-size: 14px;
    color: #fff;
    line-height: 22px;
}
.main-content {
    float: left;
    width: 100%;
    text-align: center;
}
.main-content-fixer img {
    width: 100%;
}
.main-content-fixer {
    float: left;
    width: 100%;
}
.table>thead>tr>th {
    text-align: center;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    text-align: center;
}
.table-responsive {
    margin: 50px 0 0 0;
}
.member ul li img {
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 52px;
    height: 80px;
}
.member ul li {
    float: left;
    padding: 0 10px;
    list-style: none;
}
.member ul {
    float: left;
    padding-left: 0;
    margin: 20px 0;
}
.member {
    float: left;
    width: 100%;
}
.member h1 {
    font-size: 18px !important;
	font-weight:normal !important;
}
.team h1 {
    font-size: 22px;
	font-weight:bold;
}
.team {
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
}