@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: 'digital-7_italicitalic';
    src: url('../fonts/digital-7_italic-webfont.woff2') format('woff2'),
        url('../fonts/digital-7_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'digital-7_monoitalic';
    src: url('../fonts/digital-7_mono_italic-webfont.woff2') format('woff2'),
        url('../fonts/digital-7_mono_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'digital-7_monomono';
    src: url('../fonts/digital-7_mono-webfont.woff2') format('woff2'),
        url('../fonts/digital-7_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'digital-7regular';
    src: url('../fonts/digital-7-webfont.woff2') format('woff2'),
        url('../fonts/digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,body{
    margin:0;
    height:100%;
    overflow:hidden;
}
#myProgress {
    width: 100%;
    /*background-color: transparent;*/
    position: absolute;
    /*bottom:100px;*/
}
#myBar {
    width: 20%;
    height: 30px;
    background-color: #00BFF3 !important;
}
#splash {
    float: left;
    width: 100%;
}
#splash {
    background-image: url(../../images/background.jpg);
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}
.round-stage img {
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}
.sbmt {
    background: none !important;
    border: none !important;
    width: 100% !important;
}
.round-stage {
    float: left;
    width: 100%;
    position: relative;
}
#div36 {
    position: absolute;
    z-index: 9999999999;
    top: 230px;
    width: 100%;
    text-align: center;
}
#div36 img {
    min-width: 283px !important;
    min-height: 371px !important;
    margin: 0 auto;
    height: 283px !important;
}
#div3 {
    width: 100%;
    height: 50px;
    background: blue;  
    position: relative;
    -webkit-animation: somename 0.7s;
    -moz-animation: somename 0.7s;
    animation: somename 0.7s;
}

@-webkit-keyframes somename {
    0%   { top: -100px; }
    100% { top: 0; }
}

@-moz-keyframes somename {
    0%   { top: -100px; }
    100% { top: 0; }
}

@keyframes somename {
    0%   { top: -100px; }
    100% { top: 0; }
}
.ques-bg img {
    width: 100%;
    /* position: absolute; */
    /* top: -150px; */
}
.ques-bg {
    float: left;
    width: 100%;
    /* position: relative; */
}
.inner {
    float: left;
    width: 100%;
    position: absolute;
    z-index: 999999999999;
    top: 0;
}
.logo {
    float: left;
    width: 100%;
    text-align: center;
}
.logo img {
    width: 160px;

}
.logo h1 img {
    width: 98px;
    height: 24px;
}
.match {
    background: url(../img/question-bg.png);
    width: 915px;
    height: 182px;
    margin: 50px auto 0;
    position: fixed;
    left: 0;
    background-repeat: no-repeat;
    right: 0;
    z-index: 103;

    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    position: relative;

}
.match2 {
    background: url(../img/question-bg.png);
    width: 915px;
    height: 182px;
    background-repeat: no-repeat;
    margin: 20px auto 0;
}
.col-sm-10.dum {
    width: 70%;
}
.score h1 {
    color: #fff;
    margin: 30px 0 0 0 !important;
    font-family: arial;
    font-family: 'digital-7regular';
    font-size: 110px;
    letter-spacing: 10px;
}
.score {
    float: left;
    width: 100%;
    text-align: center;
}
.logo h1 {
    margin: 0px 0 10px 0;
}
/*.team-info {
    float: left;
    width: 100%;
    text-align: center;
}*/
.team-info h1 {
    font-size: 18px;
    font-family: arial;
    color: #fff;
    margin: 20px 0 10px 0;
}
.team-info img {
    width: 150px;
    height: 130px;
    margin: 20px 0 0 0;
}
.col-sm-2.digital {
    width: 15%;
}
.vs img {
    width: 147px;
    height: 121px;
}
.vs {
    float: left;
    width: 100%;
    margin: 25px 0 0 0;
}
.vs h1 {
    color: #fff;
    font-weight: bold;
    margin: 50px 0 0 0;
}
.quiz1 h1 {
    font-size: 18px;
    font-family: arial;
    color: #fff;
    margin: 10px 0;
}
.quiz2 h1 {
    font-size: 13px;
    font-family: arial;
    color: #fff;
    margin: 0px 0 15px 0;
}
.score-h{
    float:left;
	width:100%;
	text-align:center;
}
.score-h h1 {
    font-size: 22px;
    font-family: arial;
    color: #fff;
    margin: 18px 0;
	font-weight:bold;
}
.score-h span {
    font-size: 22px;
    font-family: arial;
    color: #fff;
    margin: 18px 0;
	font-weight:bold;
}
.quiz1 {
    box-shadow: 1px 1px 15px #d8d8d8;
    float: left;
    width: 100%;
    text-align: left;
    border: solid 3px #d8d8d8;
    border-radius: 40px;
    margin: 0 0 0 0;
    padding: 0 20px;
    background: rgba(248,80,50,1);
    background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(57,15,83,1) 0%, rgba(86,32,83,1) 0%, rgba(48,19,64,1) 53%, rgba(48,19,64,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(57,15,83,1)), color-stop(0%, rgba(86,32,83,1)), color-stop(53%, rgba(48,19,64,1)), color-stop(100%, rgba(48,19,64,1)));
    background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(57,15,83,1) 0%, rgba(86,32,83,1) 0%, rgba(48,19,64,1) 53%, rgba(48,19,64,1) 100%);
    background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(57,15,83,1) 0%, rgba(86,32,83,1) 0%, rgba(48,19,64,1) 53%, rgba(48,19,64,1) 100%);
    background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(57,15,83,1) 0%, rgba(86,32,83,1) 0%, rgba(48,19,64,1) 53%, rgba(48,19,64,1) 100%);
    background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(57,15,83,1) 0%, rgba(86,32,83,1) 0%, rgba(48,19,64,1) 53%, rgba(48,19,64,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#301340', GradientType=1 );
}
.quiz2 {
    box-shadow: 1px 1px 15px #d8d8d8;
    float: left;
    width: 100%;
    text-align: center;
    border: solid 3px #d8d8d8;
    border-radius: 40px;
    /* margin: 10px 0 0 0; */
    padding: 0 20px;
    background: rgba(248,80,50,1);
    background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(57,15,83,1) 0%, rgba(86,32,83,1) 0%, rgba(48,19,64,1) 53%, rgba(48,19,64,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(57,15,83,1)), color-stop(0%, rgba(86,32,83,1)), color-stop(53%, rgba(48,19,64,1)), color-stop(100%, rgba(48,19,64,1)));
    background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(57,15,83,1) 0%, rgba(86,32,83,1) 0%, rgba(48,19,64,1) 53%, rgba(48,19,64,1) 100%);
    background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(57,15,83,1) 0%, rgba(86,32,83,1) 0%, rgba(48,19,64,1) 53%, rgba(48,19,64,1) 100%);
    background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(57,15,83,1) 0%, rgba(86,32,83,1) 0%, rgba(48,19,64,1) 53%, rgba(48,19,64,1) 100%);
    background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(57,15,83,1) 0%, rgba(86,32,83,1) 0%, rgba(48,19,64,1) 53%, rgba(48,19,64,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#301340', GradientType=1 );
}
.qus-set {
    float: left;
    width: 100%;
    margin: 0px 0 0 0;
}
.quiz1 span {
    color: #ffcb05;
    font-weight: bold;
}
.quiz2 span {
    color: #ffcb05;
    font-weight: bold;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    margin: 25px 0 0 0 !important;
    width: 46% !important;
}
.btn-primary {
    margin: 25px 0 0 0 !important;
    width: 46% !important;
}
h1.team {
    float: left;
    font-family: arial;
    font-size: 28px;
    line-height: 43px;
    font-family: 'Abel', sans-serif !important;
    color:#fff;
}
h1.team3 {
    color: #fff;
    float: left;
    font-family: "Abel",sans-serif !important;
    font-size: 20px;
    line-height: 0;
    width: 100%;
}
h1.team2 {
    float: left;
    font-family: arial;
    font-size: 28px;
    line-height: 18px;
    font-family: 'Abel', sans-serif !important;
    color:#000 !important;
}
h1.teamwin {
    font-family: arial;
    font-size: 28px;
    line-height: 43px;
}
.img-cont{
    float:left;
    width:100%;
    margin: 0px 0 10px 0;
}
.img-cont img {
    border: medium none;
    border-radius: 50px;
    height: 280px;
    width: 100%;
}
.img-cont2{
    float:left;
    width:100%;
    margin: 0px 0 10px 0;
}
.img-cont2 img {
    border: medium none;
    border-radius: 50px;
    height: 60px;
    width: 100%;
}
.faq ul{
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.faq ul li{
    color: #000;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #111111;
}

.faq ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.faq ul li label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.faq ul li:hover label{
    color: #000;
}

.faq ul li .check{
    display: block;
    position: absolute;
    border: 5px solid #000;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.faq ul li:hover .check {
    border: 5px solid #000;
}

.faq ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 0px;
    left: 0px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 5px solid #000;
}

input[type=radio]:checked ~ .check::before{
    background: #00BFF3;
}

input[type=radio]:checked ~ label{
    color: #00BFF3;
}

.signature {
    position: fixed;
    margin: auto;
    bottom: 0;
    top: auto;
    width: 100%;
}

.signature p{
    text-align: center;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 0.85em;
    color: #AAAAAA;
}

.signature .much-heart{
    display: inline-block;
    position: relative;
    margin: 0 4px;
    height: 10px;
    width: 10px;
    background: #AC1D3F;
    border-radius: 4px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.signature .much-heart::before, 
.signature .much-heart::after {
    display: block;
    content: '';
    position: absolute;
    margin: auto;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #AC1D3F;
    top: -4px;
}

.signature .much-heart::after {
    bottom: 0;
    top: auto;
    left: -4px;
}

.signature a {
    color: #AAAAAA;
    text-decoration: none;
    font-weight: bold;
}
.faq {
    float: left;
    width: 100%;
    margin: 20px 0;
    text-align: center;
}
.winner {
    float: left;
    width: 100%;
    text-align: center;
    margin: 50px 0 0 0;
}
.texto span {
    font-size: 144px;
    font-family: arial;
}
.add {
    background: rgba(0, 191, 243, 0.55);
    border: 2px dashed #fff;
}
.faq .team2 {
    font-size: 20px;
    font-weight: bold;
}
.block {
    background: #fff;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    overflow: hidden !important;
    /*padding:10px 0;*/
}
.btn-info {
    color: #fff;
    background-color:  #00BFF3 !important;
    border-color:  #00BFF3 !important;
    font-size: 16px !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
}
.modal-header {
    background: #00BFF3 !important;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
select.selector {
    border: solid 1px #ccc;
    width: 100%;
    padding: 6px 10px;
    margin: 14px 5px 0 0;
    float: left;
    color: #545454;
    border-radius: 7px;
    box-shadow: #ccc 0px 0px 6px;
}

#myProgress {
    width: 100%;
    bottom: 0px !important;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: #76be26 !important;
}

#blue_background {
    background: #03366c;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

.selection{
    width: 240px !important;

}
.select-container{
    text-align: center;
    padding: 20px;
    color: #fff;
}

.select-btn{
    background: #fff;
    color: #000;
    width: 150px;
    margin-bottom: 20px;
}

.btn_option{
    -webkit-transition: background 0.05s ease-in-out;
    -ms-transition:     background 0.05s ease-in-out;
    transition:         background 0.05s ease-in-out;
}

.option-bg-green {
    background: #1a5015;
}

span.option_button {
    color: #fff;
}

.option-bg-red {
    background: #c30000;
}

.lifeline{
    width: 50px !important;
}


a.btn.select-btn {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}
.inner .logo {
    margin-bottom: 20px;
}

.select-container input.form-control {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.team-info h4.access_code {
    color: #75bd25;
}

.over {
    left: 0;
    /* z-index: 102; */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.66);
    cursor: pointer;
}

.s_timer{font-family: digital-7regular;
    font-size: 55px;
    text-align: center;
    border: 2px solid #d1ab08;
    border-radius: 50%;
    padding: 19px;
    background: #102635;
    color: #FFF;}
.inner.quiz_screen img.selection {
    width: 130px !important;
}
@media screen and (max-width: 768px) {
    h1.team2 {

        font-size: 19px;
        line-height: 4px;

    }
    .ques-bg img {
        display: none;
    }
    .inner.quiz_screen {
        background: #03366c;
    }
    .score h1 {font-size:50px;    margin: 0px !important;}
    .col-sm-12.small-ss {
        display: table;
    }

    .s_timer {

        font-size: 30px;
        padding: 6px;

    }
    .team-info h1 {

        margin: 10px 0 0px 0;
    }
    .container.cont-small {
        margin: 0px !important;
        padding: 0px;
    }
    .container.cont-small .html_popup .col-sm-6 {
        padding: 0;
        margin: 0;
    }
    .container.cont-small .html_popup .col-sm-12 {
        padding: 0;
        margin: 0;
    }

    .container.cont-small .html_popup{ margin-top: -40px;}
    .col-sm-12.small-ss {
        display: table;
        width: 100%;
        text-align: center !important;
    }
}