<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">EDD Report</h5>
    </div>
    <!-- Breadcrumb -->

    <!-- /Breadcrumb -->
</div>
<div class="row">
    <!-- Basic Table -->
    <div class="col-sm-12">
        <% if(messages.error || messages.info) { %>
            <div class="alert alert-<%- (messages.error) ? "danger" : "success" %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="zmdi zmdi-block pr-15 pull-left"></i>
                <p class="pull-left"><%- (messages.error) ? messages.error : messages.info %></p>
                <div class="clearfix"></div>
            </div>
        <% } %>
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark"></h6>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap mt-40">
                        <div class="table-responsive">
                            <form action="admin/report/export" method="POST" >

                               <div class="col-md-6">
                                <div class='input-group date' id='datepicker1'>
                                    <input type='text' class="form-control" name="start_date" />
                                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                                </div></div>

                                <div class="col-md-6">
                                <div class='input-group date' id='datepicker2'>
                                    <input type='text' class="form-control" name="end_date"  />
                                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                                </div></div>


                                <!--<div class="form-group col-md-4">-->
                                <!--<label class="control-label mb-10 text-left">CNIC</label>-->
                                <!--<input type="text" class="form-control" name="national_identity">-->
                                <!--</div>-->
                                <!--<div class="form-group col-md-4">-->
                                <!--<label class="control-label mb-10 text-left">Mobile</label>-->
                                <!--<input type="text" class="form-control" name="telephone" >-->
                                <!--</div>-->

                                <div class="form-group mb-3">
                                    <button type="submit" class="btn btn-success btn-anim pull-right"><i
                                                class="icon-rocket"></i><span class="btn-text">submit</span></button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Basic Table -->
</div>