<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Unit</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li class="active"><span>Unit</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<div class="row">
    <!-- Basic Table -->
    <div class="col-sm-12">
        <% if(messages.error || messages.info) { %>
            <div class="alert alert-<%- (messages.error) ? "danger" : "success" %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="zmdi zmdi-block pr-15 pull-left"></i>
                <p class="pull-left"><%- (messages.error) ? messages.error : messages.info %></p>
                <div class="clearfix"></div>
            </div>
        <% } %>
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Head Office</h6>
                </div>
                <div class="pull-right">
                    <a href="admin/unit/add" class="btn btn-primary btn-icon-anim btn-square"><i
                                class="fa fa-plus white "></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap mt-40">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>code</th>
                                    <th>address</th>
                                    <th>Created On</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% if(institutes.length > 0) { %>
                                    <% for(var i = 0; i < institutes.length; i++) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= institutes[i].name %></td>
                                            <td><%= institutes[i].code %></td>
                                            <td><%= institutes[i].address %></td>
                                            <td><%= institutes[i].date_added %></td>
                                            <td class="text-nowrap">
                                                <a href="admin/unit/edit/<%= institutes[i]._id %>" class="mr-25"
                                                   data-toggle="tooltip" data-original-title="Edit"> <i
                                                            class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href="admin/unit/view/<%= institutes[i]._id %>" class="mr-25"
                                                   data-toggle="tooltip" data-original-title="View"> <i
                                                            class="fa fa-eye text-inverse m-r-10"></i> </a>
                                                <a href="admin/region/<%= institutes[i]._id %>" class="mr-25"
                                                   data-toggle="tooltip" data-original-title="Add Region"> <i
                                                            class="fa fa-arrow-circle-o-right m-r-10"></i> </a>
                                                <a href="admin/department/<%= institutes[i]._id %>" class="mr-25"
                                                   data-toggle="tooltip" data-original-title="Add Department"> <i
                                                            class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a href="javascript:void(0)"  class="removedata" data-id="<%= institutes[i]._id %>" > <i class="fa fa-close text-danger"></i></a>


                                            </td>
                                        </tr>
                                    <% } %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="6" align="center">No record found</td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                            <% if (pages > 0) { %>
                                <ul class="pagination text-center">
                                    <% if (current == 1) { %>
                                        <li class="disabled"><a>First</a></li>
                                    <% } else { %>
                                        <li><a href="admin/unit?page=1">First</a></li>
                                    <% } %>
                                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                    <% if (i !== 1) { %>
                                        <li class="disabled"><a>...</a></li>
                                    <% } %>
                                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                        <% if (i == current) { %>
                                            <li class="active"><a><%= i %></a></li>
                                        <% } else { %>
                                            <li><a href="admin/unit?page=<%= i %>"><%= i %></a></li>
                                        <% } %>
                                        <% if (i == Number(current) + 4 && i < pages) { %>
                                            <li class="disabled"><a>...</a></li>
                                        <% } %>
                                    <% } %>
                                    <% if (current == pages) { %>
                                        <li class="disabled"><a>Last</a></li>
                                    <% } else { %>
                                        <li><a href="admin/unit?page=<%= pages %>">Last</a></li>
                                    <% } %>
                                </ul>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Basic Table -->
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="delte_hid" value="">
                <strong>WARNING:</strong><p>All your regions,zones,branches and their departments will be deleted !</p>
                <p>Do you really want to delete  <input type="checkbox" id="check1" value="true"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <button type="button" id="delete"  class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $(".removedata").click(function () {
            var id = $(this).attr("data-id");
            var s = $("#delte_hid").val(id);
            $("#myModal").modal('show');

        });
        $("#delete").hide();
        $("#check1").click(function () {
            var check_t = $("#check1").is(':checked');
            if(check_t == true)
            {
                $("#delete").show();
            }
            else {
                $("#delete").hide();
            }
        });


        $("#delete").click(function () {

            var remove = $("#delte_hid").val();

            $.ajax({
                type: "POST",
                url: 'admin/unit/remove/' + remove,
                success: function (msg) {

                    window.location.href = "/admin/unit";
                    console.log('success');
                    return;
                }, error: function (e) {
                    console.log('success');
                    return;
                    window.location.href = "/admin/unit";

                }
            });

        });
    })
</script>
