<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Head Office</h5>
    </div>
    <!-- Breadcrumb -->
  <!--  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">Dashboard</a></li>
            <li><a href="admin/unit"><span>Head Office</span></a></li>
            <li class="active"><span>View</span></li>
        </ol>
    </div>-->
    <!-- /Breadcrumb -->
</div>

<div class="row">
    <!-- Basic Table -->
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">View Head Office</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap mt-40">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tr>
                                    <th>Name</th>
                                    <td><%=institute.name ? institute.name : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Code</th>
                                    <td><%=institute.code ? institute.code : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td><%=institute.address ? institute.address : "N/A" %></td>
                                </tr>
                                <tr>
                                    <th>Date Added</th>
                                    <td><%=institute.date_added ? institute.date_added : "N/A" %></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Basic Table -->
</div>